.responsive-box.centered
  .flex.column.align-items-center.devise.box
    %a.logo{href: '/'}
    .panel-body
      .form-top
        = t('admin.confirmation.resend')
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        .text-danger
          = render 'devise/shared/error_messages', resource: resource
        .field.text-justify
          = f.label :email
          = f.email_field :email_view, value: resource_class.current.email, class: 'form-control', disabled: true
          = f.email_field :email, value: resource_class.current.email, hidden: true
        .actions
          %button.btn.btn-primary.pull-right{type:'submit'}
            = t('admin.confirmation.resend')
    .panel-footer.clearfix
      .pull-left