<h1>Connections</h1>

<div id="connections" data-connections="<%= render(template: "setup/connections/index.json.rabl") %>">
<% @connections.each do |connection| %>
  <h2>
    <%= link_to connection.name, connection %>
    <span class="comments"><%= connection.key %></span>
  </h2>
  <div class="info">
    by <%= connection.name %>
    on <%= connection.created_at.strftime('%b %d, %Y') %>
  </div>
  <div class="content"><%= connection.key %></div>
<% end %>
</div>
