- children = []
- d ||= nil
- a ||= nil
-if d.nil?
  - unless a.nil?
    - if a.is_a?(Hash)
      - link = (l = a[:link]).nil? ? "#{a[:param]}/dashboard": "/#{l[:rel]}"
      - options = {url: link, name: a[:label], icon: a[:icon], subgroup: true}
      = render partial: 'rails_admin/main/dashboard/monitor', locals: {options: options}
    - elsif (am = RailsAdmin::Config.model(a).abstract_model)
      - m = wrap_model_for_dashboard(am)
      = render partial: 'rails_admin/main/dashboard/monitor', locals: {options: model_monitor_data(m)}
- else
  - stack = d[:stack]
  -stack.each do |s|
    - if s.is_a?(Array)
      -children.concat(s)
    - else
      -children << s
  - children.each do |m|
    = render partial: 'rails_admin/main/dashboard/monitor', locals: {options: model_monitor_data(m)}