- trace_abstract_model = RailsAdmin.config(Mongoid::Tracer::Trace).abstract_model
%li{class: "#{t.action.to_s}"}
  - unless t.id.nil?
    - url = url_for(action: :show, controller: 'rails_admin/main', model_name: trace_abstract_model, id: t.id)
  - target = t.target
  - tracer_model_config = RailsAdmin.config(t.target_model_name)
  - tracer_abstract_model = tracer_model_config.abstract_model
  .title
    .label{class: t.action}
      ="#{t.action.to_s.titleize}:"
    %span.trace-model
      %span.model
        ="#{tracer_model_config.label} /"
    - if !target.nil?
      =link_to  url_for(action: :show, model_name: tracer_abstract_model.to_param, id: target.id), class: 'pjax trace_object' do
        =target.send(tracer_model_config.object_label_method)
    -else
      ="##{t.target_id}"
  =link_to  url, class: 'details-link pjax' do
    .details
      .author
        - if (author = User.where(id: t.author_id).first)
          = image_tag(author.picture_url, alt: '', width: '20px', title:  author.email)
      .changes
        %span
          = t.message || 'No message'
      .date
        .created
          =t.created_at