- if Cenit.hide_admin_navigation
  .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'
- else
  - group = dashboard_group
  #content-wrapper
    %aside
      #subdomain-sidebar.related-sidebar
        .widget
          .widget-header
            %h3
              %i{class: "fa #{group.nil? ? 'fa-tachometer': group[:icon]}"}
              = group.nil? ? 'Dashboard': group[:label]
            .btn-group.widget-header-toolbar
              %a{ href: "#", title: "Focus", class: "btn-borderless sidebar-minified js-related-toggle-minified", id:'toggle-subdomain-menu'}
          %nav.main-nav
            %ul.subdomain-menu
              -if group
                %li{ class: "#{@action.is_a?(RailsAdmin::Config::Actions::Dashboard) ? 'active' : ''}"}
                  = link_to "/#{@dashboard_group_ref}/dashboard", class: 'pjax' do
                    %i{class: 'fa fa-tachometer fa-fw', title: 'Dashboard'}
                    %span{class: 'text', title: 'Dashboard'}
                      = 'Dashboard'
              = main_navigation
    %main
      .xyz
        = render partial: 'contact_us'
        - if @action.is_a?(RailsAdmin::Config::Actions::Notebooks)
          .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax_notebooks'
        -else
          .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'


