- if Cenit.hide_admin_navigation
  .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'
- else
  - group = dashboard_root_group
  #content-wrapper
    .row
      %aside.col-sm-3
        .widget
          .widget-header
            %h3
              %i{class: "fa #{group.nil? ? 'fa-bars': group[:icon]}"}
              = group.nil? ? 'Menu': group[:label]
            .btn-group.widget-header-toolbar
              %a{ href: "#", title: "Focus", class: "btn-borderless"}
                %i.fa.fa-compress
          .widget-content
            #subdomain-related-menu
              %ul
                = main_navigation
      %main.col-sm-9
        .xyz
          .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'


