- if _current_user
  %ul#user-nav.nav.navbar-nav.navbar-right
    %li.dropdown
      %a.dropdown-toggle{href:"#", role:"button",'data-toggle':"dropdown",'aria-haspopup':"true",'aria-expanded':"false"}
        = _current_user.email. split
        %span.caret
      %ul#user-menu.dropdown-menu
        - if (user_link = edit_user_link)
          - user_link = [user_link] unless user_link.is_a?(Enumerable)
          %li.edit_user_root_link{style: 'padding-right:5px'}= user_link.shift
          - user_link.each do |link|
            %li= link

        - if logout_path.present?
          %li.divider{role:"separator"}
          .actions.clearfix
            %li.pull-right= link_to t('admin.misc.log_out'), logout_path, method: logout_method, class: 'btn btn-xs btn-danger'

%ul.nav.navbar-nav.navbar-right.root_links
  - if _current_user
    %li.take-tour
      %a#take-tour{'href'=> '#'}= t('admin.actions.tour.title')
    - actions(:root).each do |action|
      %li
        %a{href: url_for(action: action.action_name, class: 'pjax')}
          %i{class: action.link_icon, title: wording_for(:menu, action)}
  - else
    .a.navbar-btn{style: 'padding-right:20px'}
      =link_to t('admin.registration.new'), new_registration_path(User), class: 'btn btn-primary'
      =link_to t('admin.session.new'), new_session_path(User), class: 'btn btn-info'
  - if (t_link = tasks_link)
    %li#action-tasks= t_link
  - if (auth_link = authorizations_link)
    %li#action-auth= auth_link
  - if (nlink = notifications_link)
    %li#action-notify= nlink