%ul.nav.navbar-nav.movil_links
  - if _current_user.present?
    %li.dropdown
      %a.dropdown-toggle{href:'#', role:'button','data-toggle':'dropdown','aria-haspopup':'true','aria-expanded':'false'}
        %i.fa.fa-fw.fa-user
        - if _current_user.name.present?
          = _current_user.name
        - else
          = _current_user.email
        %span.caret
      %ul#user-menu.dropdown-menu
        - if (user_link = edit_user_link)
          - user_link = [user_link] unless user_link.is_a?(Enumerable)
          %li.edit_user_root_link{style: 'padding-right:5px'}= user_link.shift
          - user_link.each do |link|
            %li= link
        %li.divider{role:'separator'}
        .actions.clearfix
          %li
            = link_to t('admin.misc.terms'), "#{ENV['PORTAL_URL'] || 'https://cenit.io'}/terms_of_service", class: 'text-muted', target: '_blank'
          %li.divider{role:'separator'}
          %li.text-center
            = link_to t('admin.misc.log_out'), logout_path, method: logout_method, class: 'btn btn-danger'
  - else
    %li.text-center
      .btn-group
        .btn-group{role: "group"}
          = link_to new_registration_path(User) do
            %span.btn.btn-danger.btn-lg
              = t('admin.registration.new')
      .btn-group
        .btn-group{role: "group"}
          = link_to new_session_path(User) do
            %span.btn.btn-primary.btn-lg
              = "Log in"

  - if _current_user.present?
    - acc_am = RailsAdmin::Config.model(Cenit::MultiTenancy.tenant_model).abstract_model
    %li.dropdown{style: 'min-width: 140px;' ,id: 'dropdown-tenants'}
      %a.dropdown-toggle{href:'#', role:'button','data-toggle':'dropdown','aria-haspopup':'true','aria-expanded':'false', id: 'show_tenant_menu'}
        %i.fa.fa-fw.fa-home
        %span#tenant_name
          = format_name(_current_user.account.name)
        %span.caret
      %ul#tenant-menu.dropdown-menu
        - tenant_list = []
        - count_tenants = _current_user.all_accounts.count
        - _current_user.all_accounts.each do |a|
          - name =  format_name(a.name)
          - if a != _current_user.account
            - tenant_list.push({'name'=> name,'url'=> inspect_path(model_name: acc_am.to_param, id: a.id)}.to_json)
            %li= link_to name, inspect_path(model_name: acc_am.to_param, id: a.id)
        - if (new_action = action(:new, acc_am))
          %li.divider{role:'separator'}
          %li.text-center
            .btn-group
              .btn-group{role: "group"}
                = link_to show_path(model_name: acc_am.to_param, id: Account.current_tenant.id) do
                  %span.btn.btn-danger
                    = t('admin.misc.current_tenant')
            .btn-group
              .btn-group{role: "group"}
                = link_to url_for(action: new_action.action_name, model_name: acc_am.to_param) do
                  %span.btn.btn-primary
                    = t('admin.misc.add_tenant')
        %script
          load_tenant_list(#{raw tenant_list});
  = render partial: 'rails_admin/main/help_links'
  = render partial: 'rails_admin/main/secondary_links'