%ul.nav.navbar-nav.navbar-right.root_links
  %li.take-tour
    %a#take-tour{"href"=> "#"}= t('admin.actions.tour.title')
  - actions(:root).each do |action|
    %li
      %a{href: url_for(action: action.action_name, class: 'pjax')}
        %i{class: action.link_icon, title: wording_for(:menu, action)}
  - if (t_link = tasks_link)
    %li#action-tasks= t_link
  - if (auth_link = authorizations_link)
    %li#action-auth= auth_link
  - if (nlink = notifications_link)
    %li#action-notify= nlink
  - if _current_user
    - if (user_link = edit_user_link)
      - user_link = [user_link] unless user_link.is_a?(Enumerable)
      %li.edit_user_root_link{style: 'padding-right:5px'}= user_link.shift
      - user_link.each do |link|
        %li= link
    - if logout_path.present?
      %li= link_to content_tag('span', t('admin.misc.log_out'), class: 'label label-danger'), logout_path, method: logout_method
