= javascript_include_tag "auth.js"
.user-auth.panel.panel-default.text-center
  .panel-heading
    %span.cenit-logo
      %img{ src: image_path('logo_cenitsaas_web.png')}
    %span.cenit-hub= 'CenitHub'
  .panel-body
    .form-top
      Sign up with
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: 'form-inline' }) do |f|
      - if (return_to = params[:return_to])
        - f.hidden_field :return_to, value: return_to
      = f.check_box :remember_me, style: 'display:none', value: '1', checked: 'checked'
      = f.button class: 'btn btn-lg soc-btn soc-google', name: 'with', value: 'google' do
        %i{class:'fa fa-fw fa-google'}
        %span Google
      = f.button class: 'btn btn-lg soc-btn soc-facebook', name: 'with', value: 'facebook' do
        %i{class:'fa fa-fw fa-facebook'}
        %span Facebook
      -#= f.button class: 'btn btn-lg soc-btn soc-twitter', name: 'with', value: 'twitter' do
      -#  %i{class:"fa fa-fw fa-twitter"}
      -#  %span Twitter
      -#= f.button class: 'btn btn-lg soc-btn soc-github', name: 'with', value: 'github' do
      -#  %i{class:"fa fa-fw fa-github"}
      -#  %span GitHub

    - unless ENV['UNABLE_SIGN_IN_AND_SIGN_UP_DEVISE'].to_b
      .form-option
        or
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .field.text-justify
          = f.label :email
          = f.email_field :email, autofocus: true, class: "form-control"
        .field.text-justify
          = f.label :password
          = f.password_field :password, autocomplete: "off", class: "form-control"
        .field.text-justify
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
        .actions
          %button.btn.btn-primary.pull-right{type:'submit'}
            Sign up
  .panel-footer.clearfix
    .pull-left
      = render "devise/shared/links"