
.flex.full-v-width.full-v-height.justify-content-center.align-items-center
  .flex.column.align-items-center.devise.box
    %a.logo{href: '/'}
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: 'full-width' }) do |f|
      - if (return_to = params[:return_to])
        - f.hidden_field :return_to, value: return_to
      = f.check_box :remember_me, style: 'display:none', value: '1', checked: 'checked'
      - if (ENV['FEDERATION_SIGN_IN_AND_SIGN_UP'] || false).to_b
        = render partial: 'devise/shared/social_buttons', locals: { form: f }
    - unless (ENV['UNABLE_SIGN_IN_AND_SIGN_UP_DEVISE'] || false).to_b
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'full-width' }) do |f|
        .control
          = f.email_field :email, autofocus: true, placeholder: :email, class: 'form-control'
        .control
          = f.password_field :password, autocomplete: 'off', placeholder: :password, class: 'form-control'
        - if devise_mapping.rememberable?
          .field.text-justify
            = f.check_box :remember_me
            = f.label :remember_me
        .control.recaptcha
          = recaptcha_tags if ENV['ENABLE_RERECAPTCHA'].to_b && ENV['RECAPTCHA_SITE_KEY'].present?
        .control
          %button.btn.btn-primary.full-width
            =t('admin.registration.submit')
        .terms
          =t('admin.registration.terms_preface')
          =link_to "#{Cenit.homepage}/terms", target: '_blank' do
            %span=t('admin.misc.terms')
      .separator

      = link_to "Already have an account", new_session_path(resource_name, { return_to: params[:return_to] }), class: 'link link-primary'