%ul.nav.navbar-nav.movil_links
  %li.visible-custom
    = link_to '#' ,class:'scroll', data: {link: 'subdomains'} do
      %i.fa.fa-fw.fa-laptop{title:'Services'}
      %span='Services'
  %li.visible-custom
    = link_to '#' ,class:'scroll', data: {link: 'integrations'} do
      %i.fa.fa-fw.fa-puzzle-piece{title:'App Integrations'}
      %span='App Integrations'
  %li.visible-custom
    = link_to '#' ,class:'scroll', data: {link: 'features'} do
      %i.fa.fa-fw.fa-star{title:'Features'}
      %span='Features'
  - if _current_user.present?
    %li.dropdown
      %a.dropdown-toggle{href:'#', role:'button','data-toggle':'dropdown','aria-haspopup':'true','aria-expanded':'false'}
        %i.fa.fa-fw.fa-user
        - if _current_user.name.present?
          = _current_user.name
        - else
          = _current_user.email
        %span.caret
      %ul#user-menu.dropdown-menu
        - if (user_link = edit_user_link)
          - user_link = [user_link] unless user_link.is_a?(Enumerable)
          %li.edit_user_root_link{style: 'padding-right:5px'}= user_link.shift
          - user_link.each do |link|
            %li= link
        %li.divider{role:'separator'}
        .actions.clearfix
          %li
            = link_to t('admin.misc.terms'), "#{ENV['PORTAL_URL'] || 'https://cenit.io'}/terms_of_service", class: 'text-muted', target: '_blank'
          %li.divider{role:'separator'}
          %li.text-center
            = link_to t('admin.misc.log_out'), logout_path, method: logout_method, class: 'btn btn-danger'
  - else
    %li
      = link_to new_registration_path(User) do
        %i.fa.fa-fw.fa-thumbs-o-up
        %span
          = 'Try it free'
    %li
      = link_to new_session_path(User) do
        %i.fa.fa-fw.fa-user
        %span
          = "Log in"
  - if _current_user.present?
    - acc_am = RailsAdmin::Config.model(Cenit::MultiTenancy.tenant_model).abstract_model
    %li.dropdown{style: 'min-width: 140px;' ,id: 'dropdown-tenants'}
      %a.dropdown-toggle{href:'#', role:'button','data-toggle':'dropdown','aria-haspopup':'true','aria-expanded':'false', id: 'show_tenant_menu'}
        %i.fa.fa-fw.fa-home
        %span#tenant_name
          = format_name(_current_user.account.name)
        %span.caret
      %ul#tenant-menu.dropdown-menu
        .tenants-list{data:{owner: _current_user.id}}
          %li
            .text-center
              %i.fa.fa-spinner.fa-pulse
        - if (new_action = action(:new, acc_am))
          %li.divider{role:'separator'}
          %li.actions.text-center
            .btn-group
              .btn-group{role: "group"}
                = link_to show_path(model_name: acc_am.to_param, id: Account.current_tenant.id) do
                  %span.btn.btn-danger
                    = t('admin.misc.current_tenant')
            .btn-group
              .btn-group{role: "group"}
                = link_to url_for(action: new_action.action_name, model_name: acc_am.to_param) do
                  %span.btn.btn-primary
                    = t('admin.misc.add_tenant')
        %script
          //jQuery(function($) {load_tenant_list(#{raw tenant_list})});
  = render partial: 'rails_admin/main/secondary_links'
