.slide.third
  .bg
  .container
    %h1.hero-text.animated.fadeInLeft
      ='If you need to move to a'
      %br
      %span
        ='generalized integration approach'
      .sub-text
        ='to continuously add values to your business'
    - unless current_user
      .actions
        .cta
          = link_to '#', class: 'button-outline go-sign-in' do
            = 'TRY IT FREE'
            = content_tag :i, '', class: 'fa fa-chevron-right'
          - anonymous = current_user ? 'false' : 'true'
          - dashboard_root =  @action.is_a?(RailsAdmin::Config::Actions::Dashboard) && params[:group].blank?
          = link_to '#', class: 'take-tour button-outline', data:{anonymous: anonymous , 'dashboard-root': dashboard_root.to_s} do
            = 'TAKE A TOUR'
            = content_tag :i, '', class: 'fa fa-bus'
