.btn-sliders
  .actions
    .cta
      = link_to '#', class: 'button-outline go-sign-in' do
        = 'TRY IT FREE'
        = content_tag :i, '', class: 'fa fa-chevron-right'
      = link_to '#', class: 'take-tour button-outline', data:{anonymous: 'true' , 'dashboard-root': 'true'} do
        = 'TAKE A TOUR'
        = content_tag :i, '', class: 'fa fa-bus'