%header.navbar.navbar-fixed-top{role: 'banner', id: 'home_nav_bar'}
  = render partial: 'rails_admin/main/new_home/top_bar'
  .container-fluid.hidden-xs
    .navbar-header
      %button.navbar-toggle{type: 'button','data-toggle': 'collapse', data: {target: '.bs-navbar-collapse'}}
        = content_tag :span, '', class: 'icon-bar'
        = content_tag :span, '', class: 'icon-bar'
        = content_tag :span, '', class: 'icon-bar'
      = link_to dashboard_path, class: "navbar-brand" do
        = content_tag :span, class: 'cenit-logo' do
          = image_tag 'cenit-logo.png', class: 'img-responsive'
        = content_tag :span,'Cenit IO',class: 'cenit-hub'
    = render partial: 'layouts/rails_admin/home_secondary_navigation'
  .container-fluid.visible-xs
    .navbar-header
      %button.navbar-toggle.toogle.visible-xs#secondary-nav-xs{ type: 'button', data: { toggle: 'collapse', target: '#secondary-navigation-xs' } }
        %span.sr-only= t('admin.toggle_navigation')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %button.navbar-toggle.toogle.visible-xs#model-nav-xs{ type: 'button', data: { toggle: 'collapse', target: '#models-navigation-xs' } }
        %span.icon-chevron-down
      = link_to dashboard_path, class: "navbar-brand" do
        %span.cenit-logo
          =image_tag 'cenit-logo.png'
        %span.cenit-hub
          = "Cenit IO"
    .collapse.navbar-collapse#secondary-navigation-xs.xs-menu
      = render partial: 'layouts/rails_admin/secondary_nav_xs'
    .collapse.navbar-collapse#models-navigation-xs.xs-menu
      = dashboard_primary_xs