%header.navbar.navbar-fixed-top{role: 'banner', id: 'home_nav_bar'}
  = render partial: 'rails_admin/main/new_home/top_bar'
  .container-fluid
    .navbar-header
      %button.navbar-toggle{type: 'button','data-toggle': 'collapse', data: {target: '.bs-navbar-collapse'}}
        = content_tag :span, '', class: 'icon-bar'
        = content_tag :span, '', class: 'icon-bar'
        = content_tag :span, '', class: 'icon-bar'
      = link_to dashboard_path, class: "navbar-brand" do
        = content_tag :span, class: 'cenit-logo' do
          = image_tag 'cenit-logo.png', class: 'img-responsive'
        = content_tag :span,'Cenit IO',class: 'cenit-hub'
    = render partial: 'layouts/rails_admin/home_secondary_navigation'