%section#open_ipass
  = link_to 'https://github.com/cenit-io/cenit', class: 'fork-me-ribbon hidden-xs', target:'_blank' do
    = image_tag 'home/fork_me.png'
  .container
    .row
      .col-sm-4
        .intro-box
          .text-center
            = link_to (ENV['SLACK_INVITATION'] || 'https://cenit-slack.herokuapp.com'), title:"Join us!",target: '_blank' do
              %span.rounded.first
                = 'Free'
          .description
            %h1
              ='Be in Community'
            %p
              = 'Thank you for'
              = link_to (ENV['SLACK_INVITATION'] || 'https://cenit-slack.herokuapp.com'), title:"#{User.all.count/5 * 5}" do
                %i.fa.fa-slack
                =" joining us!"
              = 'Cenit IO is <strong>Open Source</strong> and <strong>Free</strong>,'.html_safe
              = 'and the right place to launch your own server and use pre-built integrations for many populars cloud applications.'
            .extra
              %h4.text-muted
                - if current_user
                  - users = tenant_users
                - else
                  - users = recent_users
              %ul.list-inline.list-unstyled
                - users.each do |u|
                  - url = u.picture_url(50)
                  - alt = (u.email.split('@'))[0]
                  - title = u.name.present? ? u.name : alt
                  %li
                    = image_tag url, alt: alt, title: title, class: 'img-circle', height: 30, width: 30
      .col-sm-4
        .intro-box
          .text-center
            = link_to 'integrations/dashboard', title:"Explore Cenit IO",target: '_blank'  do
              %span.rounded.second.active
                ='iPaaS'
          .description
            %h1
              ='Integration Platform Services'
            %p
              ='Cenit IO is the easiest and most open iPaaS platform to '
              %strong
                ='connect'
              ='your applications,'
              %strong
                ='synchronize data'
              ='and'
              %strong
                ='automate'
              ='processes. Intuitive wizards and tools make it fast and easy.'
            .extra
              %ul.list-inline.list-unstyled.steps
                - apps = [{name: 'Data',icon: 'fa-cube', link: '/data/dashboard'},
                {name: 'Events',icon: 'fa-bolt', link: '/observer'},
                {name: 'Transformations',icon: 'fa-random', link: '/transforms/dashboard'},
                {name: 'Connections',icon: 'fa-plug', link: '/connectors/dashboard'}]
                - apps.each do |a|
                  - icon = a[:icon]
                  - title = a[:name]
                  %li
                    = link_to a[:link], title: title, target: '_blank' do
                      %i{class: "fa #{icon}"}
      .col-sm-4
        .intro-box
          .text-center
            = link_to 'integrations/dashboard', title:"Explore our Shared Collections", target: '_blank'  do
              %span.rounded.third
                ='400+'
          .description
            %h1
              ='Hundreds of Integrations'
            %p
              = 'Cenit IO has hundreds of integrations or'
              = link_to 'shared collections','/shared collections',target: '_blank'
              ='created by our community, that covers almost every popular'
              = link_to 'APIs','/open_api_directory', title: 'API specs supplied by APIs.guru',target: '_blank'
              ='and is a great tool to create your own integration from scratch.'
            .extra
              %ul.list-inline.list-unstyled
                -#TODO:Change link to collection name not id
                - apps = [{name: 'Gmail',src: 'google_gmail.png', link: 'https://cenit.io/cross_shared_collection?query=gmail'},
                {name: 'Magento',src: 'magento.png', link: 'https://cenit.io/cross_shared_collection?query=magento'},
                {name: 'Slack',src: 'slack.png', link:'https://cenit.io/cross_shared_collection?query=slack'},
                {name: 'Trello',src: 'trello.png', link: 'https://cenit.io/cross_shared_collection?query=trello'}]
                - apps.each do |a|
                  - url = a[:src]
                  - alt = a[:name]
                  - title = a[:name]
                  %li
                    = link_to a[:link], title: title do
                      = image_tag "home/integrations/examples/#{url}", alt: alt, height: 30, width: 30