%section#open_ipass
  = link_to 'https://github.com/cenit-io/cenit', class: 'fork-me-ribbon' do
    = image_tag 'home/fork_me.png'
  .container
    .row
      .col-sm-4
        .text-center
          %span.rounded.first
            = 'Free'
        .description
          %h1
            ='Open Source and Free, forever'
          %p
            = 'Cenit IO is open source, so there\'s no risk of getting locked in. You can download and run your projects anywhere.'
          %p
            = 'You can shared your integrations and also use pre-built integrations for many populars cloud applications.'
      .col-sm-4
        .text-center
          %span.rounded.second.active
            ='iPaaS'
        .description
          %h1
            ='The easiest iPaaS platform'
          %p
            ='Cenit IO is the easiest and most open iPaaS platform to '
            %strong
              ='connect'
            ='your applications,'
            %strong
              ='synchronize data'
            ='and'
            %strong
              ='automate'
            ='processes. Intuitive wizards and tools make it fast and easy to integrate anything to anything'
      .col-sm-4
        .text-center
          %span.rounded.third
            ='500+'
        .description
          %h1
            ='Hundreds of Integrations'
          %p
            = 'Cenit supports over 500 services and counting. Integrations are driven by open standards like RSS, Open API, and RAML, so you can add your own too.'