%section#pricing.gray
  #first-option
    .container
      .header
        .col-md-12
          %h3
            ='Pricing Plans Alternative'
          %p
            ='Choose the pricing that fits your business needs. Questions?'
            = link_to 'Contact us', '#',class: 'contact-modal'
      .row.charts
        .col-md-4
          .chart.first
            .plan-name
              ='Free'
            .specs
              .spec
                %span.variable
                  = 1
                = 'Tenant'
              .spec
                %span.variable
                  ='Shared Collections'
              .spec
                %span.variable
                  ='500'
                = 'non commerce transaction'
              .spec
                %span.variable
                  ='50'
                = 'commerce transaction'
              .spec
                %span.variable
                  ='Community'
                ='Slack Channel'
            =link_to '#', class:'button go-sign-in' do
              %span='Start free'
        .col-md-4
          .chart.featured
            = image_tag 'home/ribbon.png', class: 'popular', title: 'Extra Options'
            %span.ribbon-text
              ='Extra Options'
            .plan-name
              ='Variable'
            .specs
              .spec
                %span.variable
                  ='Included'
                ='free options'
              .spec
                %span.variable
                  ='$15 per additional'
                ='tenant'
              .spec
                %span.variable
                  ='$0.5 per 100'
                ='non commerce transaction'
              .spec
                %span.variable
                  ='$0.5 per'
                ='commerce transaction'
              .spec
                %span.variable
                  ='Private'
                ='Slack Channel'
            =link_to '#', class:'button go-sign-in' do
              %span='Start'
        .col-md-4
          .chart.last
            .plan-name
              ='Custom Enterprise'
            .specs
              .spec
                %span.variable
                  ='Unlimited'
                ='tenants'
              .spec
                %span.variable
                  ='SaaS'
                ='management'
              .spec
                %span.variable
                  ='Custom'
                ='integrations'
              .spec
                %span.variable
                  ='Development'
                ='services'
            =link_to '#', class:'button contact-modal' do
              %span='Contact us'
