.flex.full-v-width.full-v-height.justify-content-center.align-items-center
  .flex.column.align-items-center.devise.box
    .logo
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'full-width' }) do |f|
      .control
        = f.email_field :email, placeholder: :email, autofocus: true, class: 'form-control'
      .control
        %button.btn.btn-primary.full-width
          = t('admin.forgotten.new_submit')
      .errors
        = render 'devise/shared/error_messages', resource: resource

    = link_to "Try to sign in again", new_session_path(resource_name), class: 'link link-primary'

    .separator

    = link_to "Create account", new_registration_path(resource_name, { return_to: params[:return_to] }), class: 'btn link'