<div id="contact_us" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content col-md-7">
      <div id="info">
        <div class="container">
          <div class="row">
            <div class="col-md-4 message">
              <%= form_for ContactUs::Contact.new, :url => contacts_path, :html => {:class => 'formtastic contact-form', :role=>"form", :id=>"contact-form"}  do |f| %>
                <div class="modal-body">
                  <div class="form-group">
                    <%= f.label :name, (t('.from_name') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
                    <%= f.text_field :name, id: :name, class: "form-control", placeholder: 'Enter text here' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :email, (t('.from_email_address') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
                    <%= f.text_field :email, id: :email, class: 'form-control', placeholder: 'Enter text here'%>
                  </div>
                  <div class="form-group">
                    <%= f.label :message, (t('.message') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
                    <%= f.text_area :message, id: :message, class: 'form-control', rows: '6', placeholder: 'Enter text here' %>
                  </div>
                  <div class="submit">
                    <div class='col-sm-6'>
                      <br/>
                      <%= link_to 'Cancel', '#', data: {dismiss: "modal"} %>
                    </div>
                    <input type="submit" class="button button-small" value="Submit" />
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>