%section#features.white-back
  #grid-second
    .container
      .header.text-center
        .col-md-12
          %h3='Features'
          %p
            ='One Platform for all your integration needs.'
      .row.add-clearfix.features
        -home_features.each do |f|
          .col-sms-6.col-sm-6
            %div{class: "col-xs-12 feature #{ f[:color]} "}
              .image.hidden-xs
                %i{class: "fa fa-5x #{f[:icon]}" ,'aria-hidden'=> 'true'}
              .desc
                %h1
                  %i{class: "fa #{f[:icon]}" ,'aria-hidden'=> 'true'}
                  = f[:name]
                %p
                  = f[:desc]