.row
  .container-fluid
    - page_slug = @page_name.parameterize
    - flash && flash.each do |key, value|
      .alert{class: flash_alert_class(key), style: "margin-bottom: #{page_slug=='dashboard' ? '0' : '20px'}"}
        %a.close{href: '#', :'data-dismiss' => "alert"} &times;
        = value
%section#slides.hidden-xs.hidden-sm
  #hero
    = link_to 'Prev','#', class: 'slide-nav prev'
    = link_to 'Next','#', class: 'slide-nav next'
    %nav
      =link_to '', '#', class: 'active'
      =link_to '', '#'
      =link_to '', '#'
      =link_to '', '#'
    .slides
      = render partial: 'rails_admin/main/home/sliders/slide2'
      = render partial: 'rails_admin/main/home/sliders/slide3'
      = render partial: 'rails_admin/main/home/sliders/slide1'
      = render partial: 'rails_admin/main/home/sliders/slide4'


