%li.dropdown
  %a.dropdown-toggle{href:'#', role:'button','data-toggle':'dropdown','aria-haspopup':'true','aria-expanded':'false', style: 'margin-top: 2px;'}
    %i.fa.fa-fw.fa-question-circle{style: 'font-size: 16px;'}
    = t('help.label')
    %span.caret
  %ul#help-menu.dropdown-menu
    %li
      =link_to 'https://cenit-io.github.io/docs', target: '_blank' do
        %i.fa.fa-fw.fa-file{title: 'docs'}
        %span='docs'  
    %li
      =link_to (ENV['SLACK_INVITATION'] || 'http://cenit-slack.herokuapp.com'), target: '_blank' do
        %i.fa.fa-fw.fa-slack{title: 'join our slack'}
        %span='join our slack'
    %li
      = link_to 'https://github.com/cenit-io/cenit', target: '_blank' do
        %i.fa.fa-fw.fa-github-alt
        = t('help.open_source')
    %li
      = link_to 'https://github.com/cenit-io/cenit/issues?state=open', target: '_blank' do
        %i.fa.fa-fw.fa-lightbulb-o
        = t('help.suggest')
        %strong
          = t('help.feature')
    %li
      = link_to 'https://github.com/cenit-io/cenit/issues?state=open', target: '_blank' do
        %i.fa.fa-fw.fa-bug
        = t('help.report')
        %strong
          = t('help.issue')
    %li
      = link_to 'https://cenitio.slack.com/messages/support/', target: '_blank' do
        %i.fa.fa-fw.fa-support
        = t('help.support')
    %li
      =link_to "#" , id: "contact_us" do
        %i.fa.fa-fw.fa-envelope-o{title: t('admin.contact_us.tittle')}
        %span=t('admin.contact_us.tittle').downcase
