<h1>Welcome to CenitHub!</h1>

<% if user_signed_in? %>
  <h2>Explore the api</h2>
  <h3><%= link_to "App Logs", explore_api_path(:app_logs, :format => :json) %></h3>
  <h3><%= link_to "New App Log", write_api_path(:app_logs, :format => :json, :data => { 
    'app_log' => { account_id: Account.current.id, status: 'operational', message: 'Ok', used_space: 100, used_memory: 200, app_name: 'cenit'} }), method: :post %></h3>
  <h3><%= link_to "Sign out", destroy_user_session_path, method: :delete %></h3>
  <h3>You are logged in as: <%= current_user.email %></h3>
 
<% else %>
  <p><%= link_to 'Sign in', new_user_session_path %></p>
  <p><%= link_to 'Sign up', new_user_registration_path %></p>
<% end %>