<% id = "#{lang[:id]}-global-vars" %>
<div class="sdk-code">
  <h3>Authentication parameters:</h3>
  <hr/>
  <button type="button" class="btn btn-default copy-to-clipboard"
          data-clipboard-action="copy"
          data-clipboard-target="#<%= id %>">Copy to clipboard
  </button>
  <pre id="<%= id %>" class="code <%= lang[:hljs] %>"><%= api_auth_vars(lang[:id]) %></pre>
</div>

<% (@api_current_paths || api_current_paths).each do |path, methods| %>
    <% methods.each do |method, definition| %>
        <% id = "#{lang[:id]}-#{method}-#{path}".parameterize %>
        <div class="sdk-code">
          <h3><%= definition[:summary].strip %></h3>
          <hr/>
          <p><%= definition[:description].strip %></p>
          <hr/>
          <p>
            <span class="label method <%= method %>"><%= method %></span>
            <span class="uri"><%= api_uri(method, path) %></span>
          </p>
          <hr/>
          <button type="button" class="btn btn-default copy-to-clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#<%= id %>">Copy to clipboard
          </button>
          <pre id="<%= id %>" class="code <%= lang[:hljs] %>"><%= api_code(lang[:id], method, path) %></pre>
        </div>
    <% end %>
<% end %>
