<div class="dropdown menu-api" id="rest-api">
  <button class="btn btn-primary dropdown-toggle" type="button"
          title="<%= t('admin.actions.rest_api.hint') %>"
          data-toggle="dropdown">
    <span class="text">REST API</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <% @api_current_paths.each do |path, methods| %>
        <% methods.each do |method, definition| %>
            <li>
              <a href="#" role="menuitem" title="<%= definition[:description].strip %>"
                 data-dlg-id="<%= "dlg-#{method}-#{path}".parameterize %>">
                <span class="label method <%= method %>"><%= method %></span>
                <span class="option"><%= highlight_quotation_marks(definition[:summary].strip).html_safe %>.</span>
              </a>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>

<% @api_current_paths.each do |path, methods| %>
    <% methods.each do |method, definition| %>
        <% dlg_id = "dlg-#{method}-#{path}".parameterize %>
        <div id="<%= dlg_id %>" class="modal fade rest-api-code-dlg" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><%= highlight_quotation_marks(definition[:summary].strip) %>:</h4>
              </div>
              <div class="modal-body sdk-code">
                <p><%= highlight_quotation_marks(definition[:description].strip) %></p>
                <hr/>
                <p>
                  <span class="label method <%= method %>"><%= method %></span>
                  <span class="uri"><%= api_uri(method, path) %></span>
                </p>
                <hr/>

                <ul class="nav nav-tabs tabs-left">
                  <% api_langs.each do |lang| %>
                      <li class="<%= "active" if lang[:id] == 'curl' %>">
                        <a data-toggle="tab" href="#<%= "#{dlg_id}-#{lang[:id]}" %>"><%= lang[:label] %></a>
                      </li>
                  <% end %>
                </ul>

                <div class="tab-content">
                  <% api_langs.each do |lang| %>
                      <div id="<%= "#{dlg_id}-#{lang[:id]}" %>"
                           class="tab-pane fade in <%= "active" if lang[:id] == 'curl' %>">
                        <pre class="code <%= lang[:hljs] %>"><%= api_code(lang[:id], method, path, true) %></pre>
                      </div>
                  <% end %>
                </div>
              </div>
              <div class="modal-footer">
                <button id="copy-to-clipboard" type="button" class="btn btn-default"
                        data-clipboard-action="copy">Copy
                </button>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    // Connected copy to clipboard actions.
    var clipboard = new Clipboard('#copy-to-clipboard', {
      target: function (trigger) {
        return $('.modal-body:visible pre:visible')[0];
      }
    });

    // Async highlight code blocks.
    var worker = new Worker('/highlight-worker.js');

    worker.onmessage = function (event) {
      $('.modal-dialog pre.code').each(function (index, block) {
        hljs.highlightBlock(block);
      });
    };
    worker.postMessage('start');

    // Remove all rest-api-code-dlg moved to body in previews request.
    $('body > .rest-api-code-dlg').remove();

    // Show dlg with code block.
    $('.menu-api .dropdown-menu li a').on('click', function (e) {
      var dlg = $('#' + $(this).data('dlg-id'));

      // Move dialog to document body to resolve incompatibility with the styles in this section.
      if (!dlg.parent().is('body')) $('body').append(dlg);

      dlg.modal();
    });
  });
</script>
