.responsive-box
  .flex.column.align-items-center.devise.box
    %a.logo{href: '/'}
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: 'full-width' }) do |f|
      - if (return_to = params[:return_to])
        - f.hidden_field :return_to, value: return_to
      = f.check_box :remember_me, style: 'display:none', value: '1', checked: 'checked'
    - unless (ENV['UNABLE_SIGN_IN_AND_SIGN_UP_DEVISE'] || false).to_b
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'full-width' }) do |f|
        = render partial: 'devise/shared/errors', locals: { resource: resource }
        .control
          = f.email_field :email, autofocus: true, placeholder: :email, class: 'form-control'
        .control
          = f.password_field :password, autocomplete: 'off', placeholder: :password, class: 'form-control'
        - if devise_mapping.rememberable?
          .field.text-justify
            = f.check_box :remember_me
            = f.label :remember_me
        .control
          %button.btn.btn-primary.full-width
            =t('admin.session.submit')
      .flex.full-width.justify-flex-end
        = link_to "Forgot password?", new_password_path(resource_name), class: 'link link-primary small'

    - if (providers = Cenit::OpenId.providers).present?
      .text-separator
        .label
          = 'or continue with'
      = render partial: 'cenit/open_id/form', locals: { redirect_uri: "#{Cenit.homepage}#{session_path(resource_name)}", providers: providers }

    = render partial: 'devise/shared/create_link'