:ruby
  begin
    cenit_oauth_scope = ::Cenit::OauthScope.new(scope).access_by_ids
    methods = Hash.new { |h, k| h[k] = [] }
    cenit_oauth_scope.each_criteria do |method, criteria|
      methods[method] = Setup::DataType.where(criteria)
    end
    basic = Hash.new
    unless cenit_oauth_scope.openid_set.empty?
      basic[:openid]= cenit_oauth_scope.openid_set.to_a
      basic[:openid].delete_if { |a| a == Cenit::OauthScope::OPENID_TOKEN }
    end
    unless cenit_oauth_scope.super_methods_set.empty?
      basic['super_methods_set']= cenit_oauth_scope.super_methods_set.to_a
    end
    if cenit_oauth_scope.auth?
      basic[Cenit::OauthScope::AUTH_TOKEN]= true
    end
    if cenit_oauth_scope.session_access?
      basic[Cenit::OauthScope::SESSION_ACCESS_TOKEN]= true
    end
    if cenit_oauth_scope.offline_access?
      basic[Cenit::OauthScope::OFFLINE_ACCESS_TOKEN]= true
    end
    if cenit_oauth_scope.multi_tenant?
      basic[Cenit::OauthScope::MULTI_TENANT_TOKEN]= true
    end
    basic = basic.merge(methods)
    html = "<p>#{I18n.t('admin.oauth.head', app_name: @app_id.name)}</p>"
    html << '<ul class="scope-description">'
    basic.each do |key, value|
      case key
      when Cenit::OauthScope::OPENID_TOKEN
        value = ["<b>#{value[0...-1].join(', ')}</b>", "<b>#{value[-1]}</b>"].select {|v| v.present?}.join(' and ')
        html+= "<li>#{I18n.t('admin.oauth.openid.msg', {scopes: value})}.</li>"
      when 'super_methods_set'
        value = ["<b>#{value[0...-1].join(', ').capitalize}</b>", "<b>#{value[-1]}</b>"].select {|v| v.present?}.join(' and ')
        html+= "<li>#{I18n.t('admin.oauth.super_methods.msg', {scopes: value})}.</li>"
      else
        if value == true
          case key
          when Cenit::OauthScope::AUTH_TOKEN
            auth_description = t('admin.oauth.auth_desc')
            key = I18n.t('admin.oauth.auth')+'<a href="#" data-toggle="tooltip" title="'+ auth_description+'"><i class="fa fa-info-circle" aria-hidden="true"></i></a>'
            when Cenit::OauthScope::OFFLINE_ACCESS_TOKEN
          when Cenit::OauthScope::SESSION_ACCESS_TOKEN
           session_access_description = t('admin.oauth.session_access_desc')
            key = I18n.t('admin.oauth.session_access')+'<a href="#" data-toggle="tooltip" title="'+ session_access_description+'"><i class="fa fa-info-circle" aria-hidden="true"></i></a>'
          when Cenit::OauthScope::OFFLINE_ACCESS_TOKEN
           offline_access_description = t('admin.oauth.offline_access_desc')
            key = I18n.t('admin.oauth.offline_access')+'<a href="#" data-toggle="tooltip" title="'+ offline_access_description+'"><i class="fa fa-info-circle" aria-hidden="true"></i></a>'
          when Cenit::OauthScope::MULTI_TENANT_TOKEN
           multi_tenant_description = t('admin.oauth.multi_tenant_desc')
            key = I18n.t('admin.oauth.multi_tenant')+'<a href="#" data-toggle="tooltip" title="'+ multi_tenant_description +'"><i class="fa fa-info-circle" aria-hidden="true"></i></a>'
          else
            key
          end
          html+= "<li>#{key}.</li>"
        else
          next unless (count = value.count) > 0
          max_data_type_to_show = 100
          if count > max_data_type_to_show
            i = 0
            first_links = []
            value.each do |dt|
              if i < max_data_type_to_show
                link = "<b>#{dt.custom_title}</b>"
                first_links.push(link)
                i+=1
              else
                break
              end

            end
            first_links = first_links.to_sentence(options = { last_word_connector: ', ' })

            links = "#{first_links} and #{count - max_data_type_to_show} more"
          else
            links = value.collect do |dt|
              "<b>#{dt.custom_title}</b>"
            end.to_sentence
          end
          case key
          when Cenit::OauthScope::READ_TOKEN
            key =  I18n.t('admin.oauth.access.read')
          when Cenit::OauthScope::CREATE_TOKEN
            key = I18n.t('admin.oauth.access.create')
          when Cenit::OauthScope::UPDATE_TOKEN
            key = I18n.t('admin.oauth.access.update')
          when Cenit::OauthScope::DELETE_TOKEN
            key = I18n.t('admin.oauth.access.delete')
          when Cenit::OauthScope::DIGEST_TOKEN
            key = I18n.t('admin.oauth.access.digest')
          else
            key
          end
          html+= "<li>#{key}: <span>#{links}</span></li>"
        end
      end
    end
    html += "</ul>"
    html.html_safe
  rescue Exception => ex
    "ERROR: #{ex.message}"
  end
= html.html_safe