.flex.full-v-width.full-v-height.justify-content-center.align-items-center
  .flex.column.align-items-center.devise.box
    .logo
    .flex.full-width.justify-content-center
      = image_tag(@app_id.app.configuration.logo, alt: '', class: 'avatar')
      = image_tag(current_user.picture_url, alt: '', class: 'avatar')
    .app-name
      = @app_id.name
    - unless @grant_scope.blank?
      .access-granted
        .label
          = 'Already have access to'
        .action-description
          = render partial: 'oauth/description', locals: {scope: @grant_scope}
    - unless @scope.blank?
      .access-requested
        .label
          = 'Is requesting access to'
        .action-description
          = render partial: 'oauth/description', locals: {scope: @scope}
    .actions.full-width
      = form_tag({url: oauth_authorize_path}, class: 'flex full-width justify-content-space-around margin-0') do
        = hidden_field_tag :token, @token
        = button_tag 'Deny', name: :deny, class: 'btn btn-danger'
        = button_tag 'Allow', name: :allow, class: 'btn btn-success'