<% if user_signed_in? %>
    <% if @errors.present? %>
        <h3>Bad request</h3>
        <% @errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
    <% else %>
        <div style="width: 30%;margin: auto">
          <div style="margin-top:25px; text-align: center;font-size: x-large">
            <%=
                if current_user.picture
                  image_tag(current_user.picture.icon.url, alt: '')
                end
            %>
            <label style="margin: auto">
              <%= current_user.name || current_user.email %>
            </label>
          </div>

          <div style="margin-top: 25px;font-size: large">
            Application
            <label style="color: #990000">
              <%= @app_id.name %>
            </label> is requesting access to
          </div>

          <div style="margin-top: 25px; font-size: larger">
            <ul>
              <% @scope.descriptions.each do |description| %>
                  <li>
                    <label style="color: #990000">
                      <%= description %>
                    </label>
                  </li>
              <% end %>
            </ul>
          </div>

          <div style="text-align: center">
            <%= form_tag(url: oauth_authorize_path) do %>
                <%= hidden_field_tag :token, @token %>
                <%= button_tag 'Deny', name: :deny %>
                <%= button_tag 'Allow', name: :allow %>
            <% end %>
          </div>
        </div>
    <% end %>
<% else %>
    <p><%= link_to 'Sign in', new_user_session_path %></p>
    <p><%= link_to 'Sign up', new_user_registration_path %></p>
<% end %>