.container
  .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    .panel.panel-default.oauth-authorize.user-auth
      .panel-heading.text-center
        %span.cenit-logo
          =image_tag 'logo_cenitsaas_web.png'
        %span.cenit-hub{style: 'color: black;'}= 'Cenit IO'
      .panel-body
        - if @errors.present?
          %h3
            = 'Bad request'
            - @errors.each do |error|
              %li
                = error
        - else
          - if current_user.picture
            .col-xs-12.images-container
              %span
                = image_tag(@app_id.app.configuration.logo, alt: '', class: 'img-circle')
              %span.user-img
                = image_tag(current_user.picture.url, alt: '', class: 'img-circle')
            .col-xs-12
              = 'Application'
              %label
                = @app_id.name
              = 'is requesting access to'
              - if @scope.auth?
                %label
                  = 'authorize other applications'
              - if @scope.offline_access?
                %label
                  = 'in your behalf'
            .col-xs-12
              %ul
                - @scope.descriptions.each do |description|
                  %li
                    %label
                      = description
      .panel-footer.clearfix
        .text-center
          = form_tag(url: oauth_authorize_path) do
            = hidden_field_tag :token, @token
            = button_tag 'Deny', name: :deny, class: 'btn btn-danger'
            = button_tag 'Allow', name: :allow, class: 'btn btn-success'
