.modal.face#contact_us
  .modal-dialog
    .modal-content
      = form_for ContactUs::Contact.new, :url => '/contact_us/contacts', :html => { :class => 'formtastic contact-form', :role => "form", :id => "contact-form" } do |f|
        .modal-header
          =link_to "#" , class:'close', 'data-dismiss': 'modal'  do
            = '&times;'.html_safe
          %h3.modal-header-title
            %i.fa.fa-fw.fa-envelope-o{title: t('admin.contact_us.tittle')}
            =t('admin.contact_us.tittle')
        .modal-body
          .row
            .col-md-12.message
              .modal-body
                .form-group
                  = recaptcha_tags
                .form-group
                  = f.label :name, (t('admin.contact_us.from_name') + content_tag(:abbr, '*', :class => 'required')).html_safe
                  = f.text_field :name, id: :name, class: "form-control", required: 'require' , placeholder: t('admin.contact_us.placeholder', field: 'name')
                .form-group
                  = f.label :email, (t('admin.contact_us.from_email_address') + content_tag(:abbr, '*', :class => 'required')).html_safe
                  = f.email_field :email, id: :email, class: 'form-control', required: 'require', placeholder: t('admin.contact_us.placeholder', field: 'email')
                .form-group
                  = f.label :subject, (t('admin.contact_us.subject') + content_tag(:abbr, '*', :class => 'required')).html_safe
                  = f.text_field :subject, id: :subject, class: 'form-control', required: 'require', placeholder: t('admin.contact_us.placeholder', field:'subject')
                .form-group
                  = f.label :message, (t('admin.contact_us.message') + content_tag(:abbr, '*', :class => 'required')).html_safe
                  = f.text_area :message, id: :message, class: 'form-control', required: 'require', rows: '6', placeholder: t('admin.contact_us.placeholder', field: 'message')
        .modal-footer
          = link_to t('admin.contact_us.cancel'), '#',class: 'btn cancel-action', data: { dismiss: "modal" }
          = submit_tag t('admin.contact_us.save'), class: "btn btn-primary save-action"
