- @count ||= {}
- query = params[:query]
#main-dashboard
  %section#welcome_users
    .container
      .row
        .col-md-offset-1.col-md-10
          .col-sm-6.hidden-xs
            %h4.text-muted
              - if current_user
                = "#{current_user.account.name.split('@')[0]} tenant"
                - users = tenant_users
              - else
                = t('admin.actions.dashboard.recent_users.title')
                - users = recent_users
            %ul.list-inline.list-unstyled
              - users.each do |u|
                - url = u.picture_url(50)
                - alt = (u.email.split('@'))[0]
                - title = u.name.present? ? u.name : alt
                %li
                  = image_tag url, alt: alt, title: title, class: 'img-circle', height: 50, width: 50
            - if current_user
              = pluralize(current_user.account.users.count, 'member')
            - else
              %span.text-muted
                = t('admin.actions.dashboard.recent_users.more', count: (User.all.count/5 * 5))
                - if (false || ENV['SHOW_SLACK_BADGE'])
                  = link_to 'Be in community', (ENV['SLACK_INVITATION'] || 'https://cenit-slack.herokuapp.com')
                  %iframe{ frameborder: "0", height: "20", src: "https://cenit-slack.herokuapp.com/badge.svg", width: "100", :style => 'margin-left: 5px' }
                - else
                  Be in community
                  = link_to 'Join our Slack', (ENV['SLACK_INVITATION'] || 'https://cenit-slack.herokuapp.com')
          .col-sm-6.tenants.hidden-xs.text-center
            %h4.text-muted{style:'margin-top: 10px;'}
              - if current_user
                = link_to(pluralize(current_user.all_accounts.count, 'tenant'), index_path(model_name: 'account'))
              - else
                = pluralize(Account.count, 'tenant')
            %ul.list-inline.list-unstyled{style: 'margin-left: -11px;'}
              %li
                .block
                  .icon
                    %i.fa.fa-fw.fa-home{style: 'font-size: 40px;'}
                  .icon{style: 'margin-left: -20px;'}
                    %i.fa.fa-fw.fa-home{style: 'font-size: 24px;'}
            %span.text-muted
              = link_to(t('admin.misc.add_tenant'), new_path(model_name: 'account'))
  %section#services
    .container
      .row
        .col-md-offset-1.col-md-10
          .text-center
            %h3= 'Services'
          = dashboard_primary
  %section#public_apis
    = render "rails_admin/main/public_apis"
  - unless current_user
    %section#features
      = render "rails_admin/main/features"