.container.text-center
  .row
    .col-md-offset-1.col-md-10
      .row.header
        %h3='Open Platform for Data and Business Integration (iPaaS)'
      .row
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/traffic.png', :alt => 'globe'
          %strong
            = 'A rich Router logic'
          %p
            = 'Can upload your documents and make custom Flows to redirect and transform messages from Hub to severals endpoints'
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/stack.png', :alt => 'creditcard'
          %strong
            = 'Support multiple kind of Schemas'
          %p= 'Does registrations with Json Schema, XML Schema or EDI Grammar: ASC X12, EDIFACT, etc. That allow exchange different kind of documents and validate with schemas.'
        .clearfix.visible-sm-block
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/globe.png', :alt => 'dev'
          %strong
            = 'Third party service integrations'
          %p
            = 'Connection out of the box with many third party service: ERP / CRM / Fulfilment / Accounting / Customer Services / Payment Processing / Marketing / Communication ... '
        .clearfix.visible-md-block.visible-lg-block
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/trends.png', :alt => 'support'
          %strong
            ='Commerce Data'
          %p
            = 'Process objects that are Data representation of real-world commerce information such as Customers, Orders, Shipments, Products, Payments, ...'
        .clearfix.visible-sm-block
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/unlocked.png', :alt => 'mail'
          %strong
            ='Free account'
          %p= 'Tenant without limit in use, complete access to configuration Setup and 5 GB space. Only pay a $0.5 fee by successful commercial transactions.'
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/support.png', :alt => 'locked'
          %strong
            = 'Community friendly'
          %p
            = "100% Open Source Code. Available on"
            = link_to('github', 'https://github.com/openjaf/cenit')
            = 'to grow together in community. Social approach for sharing collections available to any user.'
        .clearfix.visible-md-block.visible-lg-block
