.container.text-center
  .row
    .col-md-offset-1.col-md-10
      .row.header
        %h3='Integration Platform as a Service (iPaaS)'
      .row
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/traffic.png', :alt => 'globe'
          %strong
            = 'Routing and Orchestration'
          %p
            = 'Enables to create multistep integration flows by composing atomic integration functionality (such as connection, transformation, data event, schedule, webhook and flow)'
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/stack.png', :alt => 'creditcard'
          %strong
            = 'Data Integration'
          %p= 'Includes data validation, transformation, mapping, and data quality. Exchange support for multiple data formats (JSON, XML, ASN) and data standards (EDIFACT, X12, UBL)'
        .clearfix.visible-sm-block
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/globe.png', :alt => 'dev'
          %strong
            = 'Third party service integrations'
          %p
            = 'Catalogue for OpenAPI Spec (Swagger) and Shared Collections to connect services such as: ERP / CRM / Fulfilment / Accounting / Marketing / Communication.'
        .clearfix.visible-md-block.visible-lg-block
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/trends.png', :alt => 'support'
          %strong
            ='Integration Scenarios'
          %p
            = 'Cloud Service Integration, for Publication and Management of APIs,  Mobile Application Integration, to support Business to Business, Application and Data Integration needs.'
        .clearfix.visible-sm-block
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/unlocked.png', :alt => 'mail'
          %strong
            ='Free account'
          %p= 'A tenant without limit in use, complete features access available. Only pay a $0.5 USD fee by transactions when involve commerce data such as: Order, Purchase, Shipment, Payment'
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/support.png', :alt => 'locked'
          %strong
            = 'Open Source and Community friendly'
          %p
            = "100% Open Source available on"
            = link_to('github', 'https://github.com/openjaf/cenit')
            = 'to grow together in community. Shared Collections - social networking features to share integration settings - available to all users.'
        .clearfix.visible-md-block.visible-lg-block
