.container.text-center
  .row
    .col-md-offset-1.col-md-10
      .row.header
        %h3='Integration Platform as a Service (iPaaS)'
      .row
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/support.png', :alt => 'locked'
          %strong
            = 'Backendless'
          %p
            = 'After create a new Data Type using a JSON Schema is generated on the fly a complete REST API and a CRUD UI to manage the data. Useful for mobile backend and API services.'
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/traffic.png', :alt => 'globe'
          %strong
            = 'Routing and orchestration'
          %p
            = 'Enables to create multistep integration flows by composing atomic integration functionality (such as connection, transformation, data event, schedule, webhook and flow).'
        .clearfix.visible-sm-block
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/stack.png', :alt => 'creditcard'
          %strong
            = 'Data integration'
          %p= 'Includes data validation, transformation, mapping, and data quality. Exchange support for multiple data formats (JSON, XML, ASN) and data standards (EDIFACT, X12, UBL).'
        .clearfix.visible-md-block.visible-lg-block
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/trends.png', :alt => 'support'
          %strong
            ='Integration scenarios'
          %p
            = 'Cloud Service Integration, for Publication and Management of APIs,  Mobile Application Integration, to support Business to Business, Application and Data Integration needs.'
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/globe.png', :alt => 'dev'
          %strong
            = 'Third party service integrations'
          %p
            = 'Directory for OpenAPI Spec (Swagger) and Shared Collections - social feature to share integration settings - to connect services as ERP / Fulfilment / Marketing / Communication.'
        .col-md-4.col-sm-6.feature
          = image_tag 'circle-icons/one-color/unlocked.png', :alt => 'mail'
          %strong
            ='Free account'
          %p= 'A tenant without limit in use, complete features access available. Only pay a $0.5 USD fee by transactions when involve commerce data such as: Order, Purchase, Shipment, Payment.'
        .clearfix.visible-sm-block
        .clearfix.visible-md-block.visible-lg-block
