%footer
  .container
    .row
      .col-sm-3.col-sms-6.menu
        %h3
          ='Overview'
        %ul
          %li
            - anonymous = current_user ? 'false' : 'true'
            - dashboard_root =  @action.is_a?(RailsAdmin::Config::Actions::Dashboard) && params[:group].blank?

            %a.take-tour{'href'=> '#', data:{anonymous: anonymous , 'dashboard-root': dashboard_root.to_s}}
              %i.fa.fa-bus{title: t('admin.misc.tour')}
              %span=t('admin.misc.tour')
          %li
            =link_to "#{ENV['API_DOC_URL'] || 'https://cenit-io.github.io'}/openapi/", target: '_blank' do
              %i.fa.fa-send-o{title: t('admin.misc.api')}
              %span=t('admin.misc.api')
          %li
            =link_to "#{ENV['DOCS_URL'] || 'https://cenit-io.github.io'}/docs", target: '_blank' do
              %i.fa.fa-file-text{title: t('admin.misc.docs')}
              %span=t('admin.misc.docs')
          %li
            =link_to "#{ENV['PORTAL_URL'] || 'https://cenit.io'}/blog", target: '_blank' do
              %i.fa.fa-newspaper-o{title: t('admin.misc.blog')}
              %span=t('admin.misc.blog')
      .col-sm-3.col-sms-6.menu
        %h3
          ='Menu'
        %ul
          %li
            =link_to (ENV['SLACK_INVITATION'] || 'http://cenit-slack.herokuapp.com'), target: '_blank' do
              %i.fa.fa-slack{title: 'join our slack'}
              %span='Join our Slack'
          %li
            =link_to "#{ENV['PORTAL_URL'] || 'https://cenit.io'}/prices", target: '_blank' do
              %i.fa.fa-credit-card{title: t('admin.misc.prices')}
              %span=t('admin.misc.prices')
          %li
            =link_to "#{ENV['PORTAL_URL'] || 'https://cenit.io'}/directory", target: '_blank' do
              %i.fa.fa-folder-open-o{title: t('admin.misc.directory')}
              %span=t('admin.misc.directory')
          %li
            =link_to "#{ENV['PORTAL_URL'] || 'https://cenit.io'}/terms_of_service", target: '_blank' do
              %i.fa.fa-institution{title: t('admin.misc.terms')}
              %span=t('admin.misc.terms')
      .col-sm-3.col-sms-6.menu
        %h3
          ='Social'
        %ul
          - social_networks.each do |sn|
            %li
              =link_to sn[:url], target: '_blank' do
                %i{class: "fa #{sn[:icon]}"}
                = sn[:name]
      .col-sm-3.col-sms-6.menu
        %h3
          ='Support'
        %ul
          %li
            =link_to "#" , id: "contact_us" do
              %i.fa.fa-envelope-o{title: 'Contact us'}
              %span=t('admin.contact_us.tittle')
          %li
            = link_to 'https://github.com/cenit-io/cenit/issues?state=open', target: '_blank' do
              %i.fa.fa-github{title: "#{t('help.suggest').humanize} #{t('help.feature')}"}
              = t('help.suggest').humanize
              = t('help.feature')
          %li
            = link_to 'https://github.com/cenit-io/cenit/issues?state=open', target: '_blank' do
              %i.fa.fa-github{title: "#{t('help.report').humanize} #{t('help.issue')}"}
              = t('help.report').humanize
              = t('help.issue')
          %li
            = link_to 'https://cenitio.slack.com/messages/support/', target: '_blank' do
              %i.fa.fa-support{title: "#{t('help.support').humanize}"}
              = t('help.support').humanize
    .row.credits
      .col-md-12
        = ' 2014-2017 Cenit, LLC.'
