%footer
  .container
    .row
      .col-md-offset-1.col-md-10
        .col-sm-3.menu
          %h3
            ='Overview'
          %ul
            %li
              - anonymous = current_user ? 'false' : 'true'
              - dashboard_root =  @action.is_a?(RailsAdmin::Config::Actions::Dashboard) && params[:group].blank?

              %a.take-tour{'href'=> '#', data:{anonymous: anonymous , 'dashboard-root': dashboard_root.to_s}}
                %span=t('admin.misc.tour')
            %li
              =link_to "#{ENV['API_DOC_URL'] || 'https://cenit-io.github.io'}/openapi/", target: '_blank' do
                %span=t('admin.misc.api')
            %li
              =link_to "#{ENV['DOCS_URL'] || 'https://cenit-io.github.io'}/docs", target: '_blank' do
                %span=t('admin.misc.docs')
            %li
              =link_to "#{ENV['PORTAL_URL'] || 'https://cenit.io'}/blog", target: '_blank' do
                %span=t('admin.misc.blog')
        .col-sm-3.menu
          %h3
            ='Menu'
          %ul
            %li
              =link_to (ENV['SLACK_INVITATION'] || 'http://cenit-slack.herokuapp.com'), target: '_blank' do
                %span='Join our Slack'
            %li
              =link_to "#{ENV['PORTAL_URL'] || 'https://cenit.io'}/prices", target: '_blank' do
                %span=t('admin.misc.prices')
            %li
              =link_to "#{ENV['PORTAL_URL'] || 'https://cenit.io'}/directory", target: '_blank' do
                %span=t('admin.misc.directory')
            %li
              =link_to "#{ENV['PORTAL_URL'] || 'https://cenit.io'}/terms_of_service", target: '_blank' do
                %span=t('admin.misc.terms')
        .col-sm-3.menu
          %h3
            ='Social'
          %ul
            %li
              =link_to 'https://www.linkedin.com/company/cenit-io', target: '_blank' do
                ='Linkedin'
            %li
              =link_to 'https://www.facebook.com/cenit.io', target: '_blank' do
                ='Facebook'
            %li
              =link_to 'https://www.twitter.com/cenit_io', target: '_blank' do
                ='Twitter'
            %li
              =link_to 'http://www.youtube.com/channel/UC7JVcEmA3BkiR2SZ_lx5lyA', target: '_blank' do
                ='Youtube'
        .col-sm-3.menu
          %h3
            ='Support'
          %ul
            %li
              =link_to "#" , id: "contact_us" do
                %span=t('admin.contact_us.tittle')
            %li
              = link_to 'https://github.com/cenit-io/cenit/issues?state=open', target: '_blank' do
                = t('help.suggest').humanize
                = t('help.feature')
            %li
              = link_to 'https://github.com/cenit-io/cenit/issues?state=open', target: '_blank' do
                = t('help.report').humanize
                = t('help.issue')
            %li
              = link_to 'https://cenitio.slack.com/messages/support/', target: '_blank' do
                = t('help.support').humanize
    .row.credits
      .col-md-12
        = ' 2014-2017 Cenit, LLC.'
