<%
   data_type = @_controller.instance_variable_get(:@_data_type)
   model = data_type.create_mongoff_model
   fields = model.simple_properties_schemas.map do |property, schema|
     {
         label: schema['title'] || property.titleize,
         name: property,
         options: schema['enum'] || [],
         type: schema['enum'] ? 'enum' : model.type_symbol_for(schema).first
     }
   end
   triggers = field.form_value
   element_id = "#{form.object_name.parameterize('_')}_triggers_field"
%>

<div class="col-sm-12" style="padding: 0;">
  <div class="triggers-box" data-field-name="<%= "#{form.object_name}[#{field.method_name}]" %>"></div>
  <div class="dropdown">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      <span class="i icon-plus icon-white"></span>
      <span>Add</span>
      <b class="caret"></b>
    </button>
    <ul class="dropdown-menu triggers-menu">
      <% fields.each do |field| %>
          <li><a class="dropdown-item" href="#" data-field='<%= raw field.to_json %>'><%= field[:label] %></a></li>
      <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript">
  $('#<%= "#{element_id}" %>').triggers(<%= raw triggers %>)
</script>
