- config = RailsAdmin.config(Setup::DataType)
- source_abstract_model = RailsAdmin.config(form.object.class).abstract_model
- current_action = params[:action].in?(['create', 'new']) ? 'create' : 'update'

%table.cenit-oauth-scope
  %thead{ class: (create = current_action == 'create') ? 'hide': '' }
    %th
      = t('admin.actions.data_type.title')
    %th
      = t('actions')
  %tbody
    - field.each_data_type do |related_id, methods|
      - selected = config.abstract_model.get(related_id)
      - selected_id = related_id
      - selected_name = selected.send(config.object_label_method)
      - js_data = { xhr: true, remote_source: index_path(config.abstract_model.to_param, source_object_id: form.object.id, source_abstract_model: source_abstract_model.to_param, associated_collection: field.name, current_action: current_action, compact: true) }
      - selected_id = (hdv = field.form_default_value).nil? ? selected_id : hdv
      %tr.scope
        %td
          .data-type-link
            = link_to(selected_name,show_path(model_name: Setup::DataType.to_s.underscore.gsub('/', '~'), id: selected_id), class: 'hidden_link')
        %td
          -#= form.select "#{field.method_name}[#{selected_id}]", options_for_select(field.http_methods, methods),{},{class: 'select-tag', multiple: true}
          = select_tag "#{form.object_name}[#{field.method_name}][#{selected_id}]", options_for_select(field.http_methods, methods), class: 'select-tag', multiple: true
        %td
          %button.btn.btn-small.btn-danger.remove_data_type_actions{type: "button", 'data-field-class': "#{field.name}_field"}
            .i{class: 'icon-trash icon-white'}
  %tfoot{ class: (create = current_action == 'create') ? 'hide': '' }
    %tr
      %td{colspan: 3}
        %hr

.model-tr
  - js_data = { xhr: true, remote_source: index_path(config.abstract_model.to_param, source_object_id: form.object.id, source_abstract_model: source_abstract_model.to_param, associated_collection: field.name, current_action: current_action, compact: true) }
  %table
    %tr.scope
      %td
        = select_tag "#{form.object_name}[#{field.method_name}][data_type_selector]", '', field.html_attributes.reverse_merge(data: { filteringselect: true, options: js_data.to_json }, placeholder: "#{t('admin.misc.search')} #{t('admin.actions.data_type.title')}", include_blank: true)
        .data-type-link.hide
          = link_to('__LINK__',show_path(model_name: Setup::DataType.to_s.underscore.gsub('/', '~'), id: '__ID__'), class: 'hidden_link')
      %td
        .add_actions
          %button.btn.btn-info{type: "button", class: 'add_data_type_actions','data-field-class': "#{field.name}_field"}
            .i{class: 'icon-white icon-plus'}
            = t('admin.misc.add')
        .hide
          = select_tag "#{form.object_name}[#{field.method_name}][__ID__]", options_for_select(field.http_methods, []), {class: 'select-tag', multiple: true}
      %td
        %button.btn.btn-small.btn-danger.remove_data_type_actions.hide{type: "button", 'data-field-class': "#{field.name}_field"}
          .i{class: 'icon-trash icon-white'}
