<!-- HEADER -->
= render partial: 'rails_admin/main/home/header'
<!-- CONTENT -->
%main#home_content
  = render partial: 'rails_admin/main/home/sliders'
  <!-- INTRO -->
  = render partial: 'rails_admin/main/home/intro'
  <!-- SUBDOMAINS -->
  = render partial: 'rails_admin/main/home/subdomains'
  <!-- SERVICES -->
  = render partial: 'rails_admin/main/home/services'
  - if (ENV['PUBLIC_APIS'] || true)
    <!-- APP INETGRATIONS -->
    = render partial: 'rails_admin/main/home/app_integrations'
  <!-- SEARCH APPS -->
  = render partial: 'rails_admin/main/home/search_apps'
  <!-- FEATURES-->
  = render partial: 'rails_admin/main/home/features'
  - if (ENV['SHOW_PRICES'] || false)
    <!-- PRICING-->
    = render partial: 'rails_admin/main/home/pricing'
  - if (ENV['SHOW_PAYMENT_OPTIONS'] || false)
    <!-- PAYMENT OPTIONS-->
    = render partial: 'rails_admin/main/home/payment_options'
  <!-- FOOTER-->
  = render partial: 'rails_admin/main/home/footer'
<!-- GO UP ARROW-->
= link_to '', id: 'go-up',class:'from-bottom scroll', data: {link: 'top'} do
  %i.fa.fa-arrow-up
- if TourTrack.show_tour?(request.remote_ip, User.current)
  = content_for :script do
    :javascript
      startTour(anonymous_tour_at_home);
