<header class="navbar  navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to dashboard_path, class: "navbar-brand" do %>
                <span class="cenit-logo">
                  <%= image_tag 'cenit-logo.png', class: 'img-responsive' %>
                </span>
                <span class="cenit-hub">
                  Cenit IO
                </span>
      <% end %>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Explore
          </a>
          <ul class="dropdown-menu">
            <li><a href="/data/dashboard">Data</a></li>
            <li><a href="/workflows/dashboard">Workflows</a></li>
            <li><a href="/transforms/dashboard">Transforms</a></li>
            <li><a href="/gateway/dashboard">Gateway</a></li>
            <li><a href="/compute/dashboard">Compute</a></li>
            <li><a href="/integrations/dashboard">Integrations</a></li>
            <li><a href="/ecommerce/dashboard">Ecommerce</a></li>
            <li><a href="/security/dashboard">Security</a></li>
            <li><a href="/open_api_directoryd">Open Api Directory</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Services
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            App Integrations
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Features
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Pricing
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right visible-md visible-lg">
        <li>
          <a href="signup.html" class="signup visible-md visible-lg">Login</a>
        </li>
        <li>
          <a href="signup.html" class="button">Sign up free</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main id="home_content">
  <section id="slides">
    <div id="hero">
      <a class="slide-nav prev" href="#">Prev</a>
      <a class="slide-nav next" href="#">Next</a>
      <nav>
        <a class="active" href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </nav>
      <div class="slides">
        <div class="slide first">
          <div class="bg"></div>
          <%= image_tag 'home/spiral.png', class: 'spiral' %>
          <div class="container">
            <div class="row">
              <div class="col-sm-6 info">
                <h1 class="hero-text">
                  The most open Platform for Data and Business Integration
                </h1>

                <p>
                  Enables a complete business automation of all operational processes in a company
                </p>

                <div class="cta">
                  <a href="features.html" class="button-outline">
                    TRY IT FREE
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
              </div>
              <div class="col-sm-6 hidden-xs mobiles">
                <%= image_tag 'home/laptop.png', class: 'img-responsive' %>
              </div>
            </div>
          </div>
        </div>
        <div class="slide second active ">
          <div class="bg"></div>
          <div class="container">
            <h1 class="hero-text">
              Integrate your cloud applications
            </h1>

            <h2 class="text-center">
              Automate <span>marketing</span>,<span> sales</span> and <span>business process</span>
            </h2>

            <div class="text-center">
              <%= image_tag 'home/integrations.png' %>
              <a href="features.html" class="button-outline">
                TRY IT FREE
              </a>
            </div>
          </div>
        </div>
        <div class="slide third ">
          <div class="bg"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-4 info hidden-xs mobiles">
                <div class="cloud_services">
                  <i class="fa fa-cloud" aria-hidden="true"></i>
                  <i class="fa fa-google" aria-hidden="true"></i>
                  <i class="fa fa-github" aria-hidden="true"></i>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-amazon" aria-hidden="true"></i>
                  <i class="fa fa-dropbox" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-sm-8 ">
                <h1 class="hero-text animated fadeInLeft">
                  Need an easy way to connect your business with Cloud Services ?
                </h1>

                <p class="sub-text animated fadeInLeft">
                  Cenit IO is the perfect tool to help you out.
                </p>

                <div class="cta animated fadeInRight">
                  <a href="features.html" class="button-outline">See the tour</a>
                  <a href="signup.html" class="button">Sign up free</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="cenit">
    <div class="container">
      <div class="row feature">
        <div class="col-sm-6 info">
          <h4>Integration Platform as a Service (iPaaS)</h4>

          <p>
            Cenit IO is the easiest and most open iPaaS platform to connect your applications, synchronize
            data,
            and automate processes. Intuitive wizards and tools make it fast and easy to integrate anything
            to
            anything – whether you are an application administrator, business analyst, citizen integrator,
            or IT
            professional.
          </p>
        </div>
        <div class="col-sm-6 image">
          <%= image_tag 'home/ipass.jpg', class: 'img-responsive' %>
        </div>
      </div>
      <div class="row feature backwards">
        <div class="col-sm-6 info">
          <h4>Open Source and Free, forever</h4>

          <p>
            Cenit IO is open source, so there's no risk of getting locked in. You can download and run your
            projects anywhere.
          </p>

          <p>
            You can shared your integrations and also use pre-built integrations for many populars cloud
            applications.
          </p>
        </div>
        <div class="col-sm-6 image">
          <%= image_tag 'home/feature2.png', class: 'img-responsive' %>
        </div>
      </div>
      <div class="row feature">
        <div class="col-sm-6 info">
          <h4>Hundreds of Integrations</h4>

          <p>
            Cenit supports over 500 services and counting. Integrations are driven by open standards like
            RSS,
            Open API, and RAML, so you can add your own too.
          </p>
        </div>
        <div class="col-sm-6 image">
          <%= image_tag 'home/sliders/slide4.png', class: 'img-responsive' %>
          <%=image_tag 'guru_logo_horizontal.svg', alt: 'http://APIs.guru', class: 'apis_guru'%>
        </div>
      </div>
    </div>
  </section>
  <section id="services">
    <div id="tabs">
      <div class="container">
        <div class="row header">
          <h3>Services</h3>

          <p>Cenit IO can help you with this services and more. Don't wait, <a href="#">contact us</a> now</p>
        </div>
        <div class="row features">
          <div class="col-sm-4">

            <div class="feature active">
              <div class="info">
                <strong>
                  <i class="fa fa-shopping-cart"></i>
                  Sales
                </strong>
                <p>
                  You can work with international customers right out of the box while staying in your country.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature">
              <div class="info">
                <strong>
                  <i class="fa fa-bullhorn" aria-hidden="true"></i>
                  Marketing</strong>

                <p>Attract, retain, and grow more customers by nurturing the right leads.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature">
              <div class="info">
                <strong><i class="fa fa-life-ring" aria-hidden="true"></i>Support</strong>

                <p>
                  Enhance support with faster, more efficient ticket resolution and minimize churn.                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row features">
          <div class="col-sm-4">
            <div class="feature active">
              <div class="info">
                <strong>
                  <i class="fa fa-sitemap" aria-hidden="true"></i>
                  Bussiness Operations</strong>

                <p>
                  Supercharge productivity across teams with automated workflows.                </p></div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature">
              <div class="info">
                <strong>
                  <i class="fa fa-money" aria-hidden="true"></i>
                  Finances</strong>

                <p>
                  Accelerate order-to-cash, billing and payment processes.                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature">
              <div class="info">
                <strong>
                  <i class="fa fa-users" aria-hidden="true"></i>
                  Human Resources</strong>

                <p>
                  Streamline your HR processes from hire to retire.                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="integrations">
    <div id="showcase">
      <div class="container">
        <div class="row header">
          <div class="col-md-12 text-center">
            <h3>App Integrations</h3>

            <p class="text-center">
              All popular apps for CRM, Marketing, Helpdesk, Payments, Webforms, Collaboration and more
            </p>
          </div>
        </div>
        <div class="row gallery_container add-clearfix">
          <% integrations = [
              'aftership.png',
              'amazon.png',
              'asana.png',
              'bigcommerce.jpeg',
              'bronto.png',
              'desk.png',
              'ebay.jpg',
              'exact_target.png',
              'jirafe.png',
              'magento.png',
              'mailchimp.png',
              'mandrill.png',
              'netsuite.png',
              'odoo.png',
              'oscommerce.png',
              'ql.png',
              'quickbooks.png',
              'sf.png',
              'shipstation.png',
              'shipwire.png',
              'square.png',
              'trello.png',
              'woocommerce.png',
              'zendesk.png'
          ] %>
          <% integrations.each do |i| %>
              <div class="col-md-2 col-sm-3 col-sms-3 col-xs-6">
                <a href="#" class="thumbnail">
                  <%= image_tag "home/integrations/#{i}" %>
                </a>
              </div>
          <% end %>
        </div>
        <div class="col-md-offset-2 col-md-8 text-center">
          <h4>Don’t see your app? Search here</h4>

          <form action="/cross_shared_collection" accept-charset="UTF-8" method="get"><input name="utf8"
                                                                                             type="hidden"
                                                                                             value="✓">
            <input type="text" name="query" id="query" placeholder="Search on more than 275+ Shared Collections"
                   class="form-control">
          </form>

        </div>
      </div>
    </div>
  </section>
  <section id="features">
    <div id="grid-second">
      <div class="container">
        <div class="row header text-center">
          <div class="col-md-12">
            <h3>Features</h3>

            <p>
              One Platform for all your integration needs.
            </p>
          </div>
        </div>
        <div class="row features">
          <div class="col-sm-6 feature">
            <%= image_tag 'home/circle-icons/full-color/support.png' %>
            <div class="info">
              <strong>Backendless</strong>

              <p>After create a new Data Type using a JSON Schema is generated on the fly a complete REST API
                and
                a CRUD UI to manage the data. Useful for mobile backend and API services.</p>
            </div>
          </div>
          <div class="col-sm-6 feature">
            <%= image_tag 'home/circle-icons/full-color/traffic.png' %>

            <div class="info">
              <strong>Routing and orchestration</strong>

              <p>Enables to create multistep integration flows by composing atomic integration functionality
                (such
                as connection, transformation, data event, schedule, webhook and flow)..</p>
            </div>
          </div>
        </div>
        <div class="row features">
          <div class="col-sm-6 feature">
            <%= image_tag 'home/circle-icons/full-color/stack.png' %>

            <div class="info">
              <strong>Data integration</strong>

              <p>Includes data validation, transformation, mapping, and data quality. Exchange support for
                multiple data formats (JSON, XML, ASN) and data standards (EDIFACT, X12, UBL).</p>
            </div>
          </div>
          <div class="col-sm-6 feature">
            <%= image_tag 'home/circle-icons/full-color/cloud.png' %>

            <div class="info">
              <strong>Integration scenarios</strong>

              <p>Cloud Service Integration, for Publication and Management of APIs, Mobile Application
                Integration, to support Business to Business, Application and Data Integration needs.</p>
            </div>
          </div>
        </div>
        <div class="row features">
          <div class="col-sm-6 feature">
            <%= image_tag 'home/circle-icons/full-color/globe.png' %>

            <div class="info">
              <strong>Third party service integrations</strong>

              <p>Directory for OpenAPI Spec (Swagger) and Shared Collections - social feature to share
                integration
                settings - to connect services as ERP / Fulfilment / Marketing / Communication.</p>
            </div>
          </div>
          <div class="col-sm-6 feature">
            <%= image_tag 'home/circle-icons/full-color/unlocked.png' %>

            <div class="info">
              <strong>Free account</strong>

              <p>A tenant without limit in use, complete features access available. Only pay a $0.5 USD fee by
                transactions when involve commerce data such as: Order, Purchase, Shipment, Payment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="pricing">
    <div id="first-option">
      <div class="container">
        <div class="row header">
          <div class="col-md-12">
            <h3>Different plans for everyone</h3>

            <p>Choose the pricing that fits your business needs</p>
          </div>
        </div>

        <div class="row charts">
          <div class="col-md-4">
            <div class="chart first">
              <div class="plan-name">Freelance</div>
              <div class="quantity">
                <span class="dollar">$</span>
                <span class="price">29</span>
                <span class="period">/month</span>
              </div>
              <div class="specs">
                <div class="spec">
                  <span class="variable">5</span>
                  team members
                </div>
                <div class="spec">
                  <span class="variable">Digital</span>
                  recurring billing
                </div>
                <div class="spec">
                  <span class="variable">Virtual</span>
                  online terminal
                </div>
                <div class="spec">
                  <span class="variable">10</span>
                  total products
                </div>
                <div class="spec">
                  <span class="variable">1.0%</span>
                  Transaction fee
                </div>
              </div>
              <a class="btn-signup button-clear" href="signup.html">
                <span>Start free trial</span>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="chart featured">
              <%= image_tag 'home/ribbon.png', class: 'popular' %>
              <div class="plan-name">Profesional</div>
              <div class="quantity">
                <span class="dollar">$</span>
                <span class="price">79</span>
                <span class="period">/month</span>
              </div>
              <div class="specs">
                <div class="spec">
                  <span class="variable">15</span>
                  team members
                </div>
                <div class="spec">
                  <span class="variable">Digital</span>
                  recurring billing
                </div>
                <div class="spec">
                  <span class="variable">Virtual</span>
                  online terminal
                </div>
                <div class="spec">
                  <span class="variable">15</span>
                  total products
                </div>
                <div class="spec">
                  <span class="variable">0.5%</span>
                  Transaction fee
                </div>
              </div>
              <a class="btn-signup button-clear" href="signup.html">
                <span>Start free trial</span>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="chart last">
              <div class="plan-name">Premium</div>
              <div class="quantity">
                <span class="dollar">$</span>
                <span class="price">119</span>
                <span class="period">/month</span>
              </div>
              <div class="specs">
                <div class="spec">
                  <span class="variable">Unlimited</span>
                  team members
                </div>
                <div class="spec">
                  <span class="variable">Digital</span>
                  recurring billing
                </div>
                <div class="spec">
                  <span class="variable">Virtual</span>
                  online terminal
                </div>
                <div class="spec">
                  <span class="variable">25</span>
                  total products
                </div>
                <div class="spec">
                  <span class="variable">No</span>
                  Transaction fee
                </div>
              </div>
              <a class="btn-signup button-clear" href="signup.html">
                <span>Start free trial</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="clients">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Our Customers</h3>

          <p>
            These are some of our customers who have helped us by using our product.
          </p>

          <div class="logos">
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render partial: 'rails_admin/main/footer' %>
</main>
<script type="text/javascript">
  $(function () {
    var $navDots = $("#hero nav a")
    var $next = $(".slide-nav.next");
    var $prev = $(".slide-nav.prev");
    var $slides = $("#hero .slides .slide");
    var actualIndex = 0;
    var swiping = true;
    var interval;

    $navDots.click(function (e) {
      e.preventDefault();
      if (swiping) {
        return;
      }
      swiping = true;

      actualIndex = $navDots.index(this);
      updateSlides(actualIndex);
    });

    $next.click(function (e) {
      e.preventDefault();
      if (swiping) {
        return;
      }
      swiping = true;

      clearInterval(interval);
      interval = null;

      actualIndex++;
      if (actualIndex >= $slides.length) {
        actualIndex = 0;
      }

      updateSlides(actualIndex);
    });

    $prev.click(function (e) {
      e.preventDefault();
      if (swiping) {
        return;
      }
      swiping = true;

      clearInterval(interval);
      interval = null;

      actualIndex--;
      if (actualIndex < 0) {
        actualIndex = $slides.length - 1;
      }

      updateSlides(actualIndex);
    });

    function updateSlides(index) {
      // update nav dots
      $navDots.removeClass("active");
      $navDots.eq(index).addClass("active");

      // update slides
      var $activeSlide = $("#hero .slide.active");
      var $nextSlide = $slides.eq(index);

      $activeSlide.fadeOut();
      $nextSlide.addClass("next").fadeIn();

      setTimeout(function () {
        $slides.removeClass("next").removeClass("active");
        $nextSlide.addClass("active");
        $activeSlide.removeAttr('style');
        swiping = false;
      }, 1000);
    }


    interval = setInterval(function () {
      if (swiping) {
        return;
      }
      swiping = true;

      actualIndex++;
      if (actualIndex >= $slides.length) {
        actualIndex = 0;
      }

      updateSlides(actualIndex);
    }, 5000);
  });
</script>