.container.text-center
  .row
    .col-md-offset-1.col-md-10
      .row.header
        %h3='The most open integration platform to date'
      .row
        .col-md-4.col-sm-6.feature
          %h4
            = 'Hundreds of Integrations'
          .open-plat-icon
            %i.fa.fa-cogs.fa-4x
          %p
            = 'Cenit supports over 500 services and counting. Integrations are driven by open standards like RSS, Open API, and RAML, so you can add your own too.'
        .col-md-4.col-sm-6.feature
          %h4
            = 'Open Source'
          .open-plat-icon
            %i.fa.fa-code-fork.fa-4x
          %p
            = 'The Cenit is open source, so there\'s no risk of getting locked in. You can download and run your projects anywhere.'
        .clearfix.visible-sm-block
        .col-md-4.col-sm-6.feature
          %h4
            = 'Don\'t just map. Transform.'
          .open-plat-icon
            %i.fa.fa-exchange.fa-4x
          %p
            = 'Use the simple web interface to map data from one service to another.'