<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="row header">
        <h3>Need an easy way to connect your business
          with <%= link_to 'Public APIs', '/open_api_directory', data: { no_turbolink: true } %>?</h3>

        <p>
          Cenit is the perfect tool to help you out.
          <a data-toggle="modal" class="item" href="#contact_us" id="get_touch" data-backdrop="false"> Get in touch</a>
        </p>
        <br/>

        <div class='col-md-offset-2 col-md-8 centered'>
          <% query = params[:query] %>
          <% shared_path = index_path(model_name: "cross_shared_collection", query: query) %>
          <%= form_tag(shared_path, method: :get) do %>
              <%= text_field_tag "query", @name, placeholder: "Search 900+ APPs", class: "form-control" %>
          <% end %>
          <div class="try-integrations">
            <%= 'Try' %>
            <% sample = integration_sample(3) %>
            <%= link_to(sample[0], index_path(model_name: "cross_shared_collection", query: sample[0]))+',' %>
            <%= link_to(sample[1], index_path(model_name: "cross_shared_collection", query: sample[1]))+' or' %>
            <%= link_to(sample[2], index_path(model_name: "cross_shared_collection", query: sample[2])) %>
          </div>
        </div>
      </div>
      <% if current_user %>
          <div class="blocks clearfix" id="collections">
            <%= collections_at_dashboard %>
          </div>
      <% else %>
          <div class='col-sm-offset-2'>
            <br/><br/>
            <table style="width:80%">
              <tr>
                <td>
                  <div class="section">
                    <div class="pic" style='height: 100px;'>

                      <div id="bulb1" class="lightbulb">
                        <%= image_tag 'integrations/amazon.png', :alt => 'amazon', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="bulb2" class="lightbulb">
                        <%= image_tag 'integrations/desk.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="bulb3" class="lightbulb">
                        <%= image_tag 'integrations/bronto.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="bulb4" class="lightbulb">
                        <%= image_tag 'integrations/quickbooks.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="bulb5" class="lightbulb">
                        <%= image_tag 'integrations/netsuite.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="bulb6" class="lightbulb">
                        <%= image_tag 'integrations/exact_target.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="bulb7" class="lightbulb">
                        <%= image_tag 'integrations/jirafe.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="bulb8" class="lightbulb">
                        <%= image_tag 'integrations/ql.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="bulb9" class="lightbulb">
                        <%= image_tag 'integrations/sf.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="bulb10" class="lightbulb">
                        <%= image_tag 'integrations/ebay.jpg', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="bulb11" class="lightbulb">
                        <%= image_tag 'integrations/aftership.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>


                      <div id="bulb12" class="lightbulb">
                        <%= image_tag 'integrations/zendesk.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="bulb13" class="lightbulb">
                        <%= image_tag 'integrations/square.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="bulb14" class="lightbulb">
                        <%= image_tag 'integrations/odoo.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="bulb15" class="lightbulb">
                        <%= image_tag 'integrations/magento.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="bulb16" class="lightbulb">
                        <%= image_tag 'integrations/sugarcrm.png', :class => 'none img-responsive', width: "102", height: "71", style: "background-color: white;" %>
                      </div>

                      <div id="bulb17" class="lightbulb">
                        <%= image_tag 'integrations/shopify.png', :class => 'none img-responsive', width: "102", height: "71", style: "background-color: white;" %>
                      </div>

                      <div id="bulb18" class="lightbulb">
                        <%= image_tag 'integrations/asana.png', :class => 'none img-responsive', width: "102", height: "71", style: "background-color: white;" %>
                      </div>

                      <div id="bulb19" class="lightbulb">
                        <%= image_tag 'integrations/trello.png', :class => 'none img-responsive', width: "102", height: "71", style: "background-color: white;" %>
                      </div>

                      <div id="bulb20" class="lightbulb">
                        <%= image_tag 'integrations/woocommerce.png', :class => 'none img-responsive', width: "102", height: "71", style: "background-color: white;" %>
                      </div>

                      <div id="bulb21" class="lightbulb">
                        <%= image_tag 'integrations/bigcommerce.jpeg', :class => 'none img-responsive', width: "102", height: "71", style: "background-color: white;" %>
                      </div>

                      <div id="bulb22" class="lightbulb">
                        <%= image_tag 'integrations/oscommerce.png', :class => 'none img-responsive', width: "102", height: "71", style: "background-color: white;" %>
                      </div>

                    </div>
                  </div>
                </td>
                <td><%= image_tag 'arrow.png', style: 'height: 60px;margin: 20px;' %></td>
                <td>
                  <div class="section">
                    <div class="pic">
                      <%= link_to dashboard_path, data: { no_turbolink: true } do %>
                          <%= image_tag 'logo_cenitsaas_web.png', style: 'height: 50px;' %>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td><%= image_tag 'arrow.png', style: 'height: 60px;margin: 20px;' %></td>
                <td>
                  <div class="section">
                    <div class="pic" style='height: 100px;'>
                      <div id="rbulb1" class="rlightbulb">
                        <%= image_tag 'integrations/amazon.png', :alt => 'amazon', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb2" class="rlightbulb">
                        <%= image_tag 'integrations/desk.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb3" class="rlightbulb">
                        <%= image_tag 'integrations/bronto.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb4" class="rlightbulb">
                        <%= image_tag 'integrations/quickbooks.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb5" class="rlightbulb">
                        <%= image_tag 'integrations/netsuite.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb6" class="rlightbulb">
                        <%= image_tag 'integrations/mailchimp.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb7" class="rlightbulb">
                        <%= image_tag 'integrations/shipstation.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb8" class="rlightbulb">
                        <%= image_tag 'integrations/exact_target.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb9" class="rlightbulb">
                        <%= image_tag 'integrations/jirafe.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb10" class="rlightbulb">
                        <%= image_tag 'integrations/ql.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb11" class="rlightbulb">
                        <%= image_tag 'integrations/mandrill.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb12" class="rlightbulb">
                        <%= image_tag 'integrations/sf.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb13" class="rlightbulb">
                        <%= image_tag 'integrations/ebay.jpg', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>
                      <div id="rbulb14" class="rlightbulb">
                        <%= image_tag 'integrations/aftership.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="rbulb15" class="rlightbulb">
                        <%= image_tag 'integrations/shipwire.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="rbulb16" class="rlightbulb">
                        <%= image_tag 'integrations/zendesk.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="rbulb17" class="rlightbulb">
                        <%= image_tag 'integrations/square.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="rbulb18" class="rlightbulb">
                        <%= image_tag 'integrations/odoo.png', :class => 'none img-responsive', width: "102", height: "71" %>
                      </div>

                      <div id="rbulb19" class="rlightbulb">
                        <%= image_tag 'integrations/sugarcrm.png', :class => 'none img-responsive', width: "102", height: "71", style: "background-color: white;" %>
                      </div>

                      <div id="rbulb20" class="rlightbulb">
                        <%= image_tag 'integrations/asana.png', :class => 'none img-responsive', width: "102", height: "71", style: "background-color: white;" %>
                      </div>

                      <div id="rbulb21" class="rlightbulb">
                        <%= image_tag 'integrations/trello.png', :class => 'none img-responsive', width: "102", height: "71", style: "background-color: white;" %>
                      </div>

                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div class="row sections">
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/amazon.png', :class => 'img-responsive', :alt => 'amazon', width: "102", height: "71" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/bronto.png', :class => 'img-responsive', :alt => 'bronto', width: "102", height: "71" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/desk.png', :class => 'img-responsive', :alt => 'desk', width: "102", height: "71" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/quickbooks.png', :class => 'img-responsive', :alt => 'quickbooks', width: "102", height: "71" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/netsuite.png', :class => 'img-responsive', :alt => 'netsuite', width: "102", height: "71" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/mailchimp.png', :class => 'img-responsive', :alt => 'mailchimp', width: "102", height: "71" %>
                </div>
              </div>
            </div>
          </div>

          <div class="row sections">
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/shipstation.png', :class => 'img-responsive', :alt => 'shipstation', width: "102", height: "71" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/exact_target.png', :class => 'img-responsive', :alt => 'exact_target', width: "102", height: "71" %>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/jirafe.png', :class => 'img-responsive', :alt => 'jirafe', width: "102", height: "71" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/ql.png', :class => 'img-responsive', :alt => 'ql', width: "102", height: "71" %>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/mandrill.png', :class => 'img-responsive', :alt => 'mandrill', width: "102", height: "71" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/sf.png', :class => 'img-responsive', :alt => 'sf', width: "102", height: "71" %>
                </div>
              </div>
            </div>

          </div>

          <div class="row sections">

            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/shipwire.png', :class => 'img-responsive', :alt => 'shipwire', width: "102", height: "71" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/zendesk.png', :class => 'img-responsive', :alt => 'zendesk', width: "102", height: "71" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/ebay.jpg', :class => 'img-responsive', :alt => 'ebay', width: "102", height: "71" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/odoo.png', :class => 'img-responsive', :alt => 'odoo', width: "102", height: "71" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/aftership.png', :class => 'img-responsive', :alt => 'aftership', width: "102", height: "71" %>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="section">
                <div class="pic">
                  <%= image_tag 'integrations/square.png', :class => 'img-responsive', :alt => 'square', width: "102", height: "71" %>
                </div>
              </div>
            </div>

          </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function () {
    get_random_bulb();

    function get_random_bulb() {
      var a = (parseInt(Math.random() * 22));
      $(".lightbulb img.block").removeClass("block").addClass("none");
      $(".lightbulb:eq(" + a + ") img").removeClass("none").addClass("block");
    }

    setInterval(function () {
      get_random_bulb();
    }, 1000);

    get_random_rbulb();

    function get_random_rbulb() {
      var a = (parseInt(Math.random() * 21));
      $(".rlightbulb img.block").removeClass("block").addClass("none");
      $(".rlightbulb:eq(" + a + ") img").removeClass("none").addClass("block");
    }

    setInterval(function () {
      get_random_rbulb();
    }, 1000);
  });
</script>

