- integrations = public_apis
.container
  .row
    .col-md-offset-1.col-md-10
      .row.header
        %h3
          = 'Need an easy way to connect your business with'
          = link_to 'Cloud Services', '/open_api_directory', data: { no_turbolink: true }
          ='?'
        %p
          ='Cenit IO is the perfect tool to help you out.'
          = link_to 'Get in touch', '#contact_us',class: 'item contact-modal',data: { toggle: 'modal', backdrop: 'false' }
        %br
        .col-md-offset-2.col-md-8.centered
          -query = params[:query]
          -shared_path = index_path(model_name: "cross_shared_collection", query: query)
          =form_tag(shared_path, method: :get) do
            =text_field_tag "query", @name, placeholder: "Search on more than 275+ Shared Collections", class: "form-control"
          .try-integrations
            ='Try'
            = integration_sample
      -if current_user
        .row{ id: 'collections' }
          = collections_at_dashboard
      -else
        .row
          .col-md-12.centered
            - if integrations.count >= 2
              %br
              %br
              #integration_list
                .col-sm-3.no-padding-right.col-xs-6
                  .col-sm-4
                  .col-sm-8.no-padding-left
                    .section#left
                      .pic
                        - integrations.each_with_index do |int, index|
                          - data = api_basic_data int
                          =image_tag data[:image], :alt => "#{data[:alt]}",:id =>"l_#{index}",:class => 'none img-responsive', width: "102", height: "71"
                .col-sm-6.no-padding-right.no-padding-left.hidden-xs
                  .col-md-4.col-sm-3.exchange.text-center
                    = content_tag :i,'', class: 'fa fa-exchange'
                  .col-md-4.col-sm-6
                    =link_to dashboard_path, data: { no_turbolink: true } do
                      .section
                        .pic
                          = image_tag 'logo_cenitsaas_web.png',class: 'img-responsive'
                  .col-md-4.col-sm-3.exchange.text-center
                    = content_tag :i,'', class: 'fa fa-exchange'
                .col-sm-3.no-padding-left.col-xs-6
                  .col-sm-8.no-padding-right
                    .section#right
                      .pic
                        - integrations.each_with_index do |int, index|
                          - data = api_basic_data int
                          =image_tag data[:image], :alt => "#{data[:alt]}",:id =>"r_#{index}", :class => 'none img-responsive', width: "102", height: "71"
                  .col-sm-4
        - if integrations.count > 0
          .row.sections.hidden-xs
            - integrations.each_with_index do |int, index|
              - if index%6 == 0
                .clearfix.visible-md-block
                .clearfix.visible-lg-block
              - if index%4 == 0
                .clearfix.visible-sm-block
              = public_apis_collection_view(int).html_safe