<%
  if @object.expression != nil
    dd = JSON.parse(@object.expression)
  else
    dd = {"periodic_expression" => "", "type" => "periodic", "months_days" => [], "weeks_days" => [], "weeks_month" => [], "months" => [], "hours" => [], "minutes" => []}
  end
  ["months_days", "months", "hours", "minutes"].each { |e| dd[e] = dd[e].to_s.strip[1..-2] }
%>

<input type="hidden" id="setup_scheduler_expression" name="setup_scheduler[expression]">

<div id="content">

  <ul id="scheduler_tabs" class="nav nav-tabs" data-tabs="tabs">

    <li class="<%= dd["type"] == "periodic" ? 'active' : '' %>" id="periodic_tab">
      <a href="#periodic" data-toggle="tab">
        Periodic</a></li>

    <li class="" id="advanced_tab">
      <a href="#advanced" data-toggle="tab">
        Advanced</a></li>

  </ul>

  <div class="tab-content">

    <div class="tab-pane <%= dd["type"] == "periodic" ? 'active' : '' %>" id="periodic">

      <label for="periodic_expression">Duration</label>
      <br>
      <input id="periodic_expression" value="<%=dd["periodic_expression"]%>" type="text">

    </div>

    <div class="tab-pane <%= dd["type"] == "periodic" ? '' : 'active' %>" id="advanced">

      <div style="margin-left: 200px" class="btn-group">
        <button type="button" id="type_of_days_btn" value="number" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Days by number
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="new_type_of_days_btn">
          <li id="new_type_of_days_li">Days by position</li>
        </ul>
      </div>

      <div id="position_scheduler_month_days" style="display: <%= dd["type"] == "advanced_position" ? 'block' : 'none'%> ;">

        <div class="form-inline">
          <div class="form-group">
            <label>Days of the Week </label>

            <% days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'] %>

            <div class="checkboxes form-inline">
              <% days.each_with_index do |d, i| %>
                  <div class="checkbox">
                    <label><input id="week_day_<%= i %>" <%= dd["weeks_days"].include?(i) ? 'checked' : '' %> type="checkbox"><br>
                      <span><%= d %></span>
                    </label>
                  </div>
              <% end %>
            </div>
          </div>

          <div class="form-group" style="margin-left: 40px">
            <label>Week in the month</label>

            <% week_month = ['First', 'Second'] %>
            <% week_month_reverse = ['Last'] %>

            <div class="checkboxes form-inline">

              <% week_month.each_with_index do |d, i| %>
                  <div class="checkbox">
                    <label><input id="week_month_<%= i+1 %>" <%= dd["weeks_month"].include?(i+1) ? 'checked' : '' %> type="checkbox"><br><span>
         <%= d %>
        </span></label></div>
              <% end %>

              <% week_month_reverse.each_with_index do |d, i| %>
                  <div class="checkbox">
                    <label><input id="week_month_reverse_<%= i+1 %>"  <%= dd["weeks_month"].select { |e| e < 0 }.include?(-(i+1)) ? 'checked' : '' %> type="checkbox"><br><span>
         <%= d %>
        </span></label></div>
              <% end %>

            </div>
          </div>

        </div>

      </div>

      <div id="number_scheduler_month_days" style="display: <%=
          if dd["type"] == "advanced_number" then
            'block'
          else
            dd["type"] == "periodic" ? 'block' : 'none'
          end
%> ;">
        <label>Days of the Month</label>

        <div class="form-inline">
          <input type="text" id="months_days_input" value="<%= dd["months_days"] %>">

          <select class="form-control input-sm" id="months_days">
            <option selected disabled value="0">Choose frequency</option>

            <option value="1">Every day</option>

            <% daysn = [3, 4, 6, 12] %>
            <% daysn.each do |d| %>
                <option value="<%= d %>">Every <%= d %> days</option>
            <% end %>

          </select>
        </div>

      </div>


      <label>Months </label>

      <div class="form-inline">
        <input type="text" id="months_input" value="<%= dd["months"] %>">

        <select class="form-control input-sm" id="months">
          <option selected disabled value="0">Choose frequency</option>

          <option value="1">Every month</option>

          <% months = [2, 3, 4, 6] %>
          <% months.each do |d| %>
              <option value="<%= d %>">Every <%= d %> months</option>
          <% end %>

        </select>
      </div>


      <label>Hours</label>

      <div class="form-inline">
        <input type="text" id="hours_input" value="<%= dd["hours"] %>">

        <select class="form-control input-sm" id="hours">
          <option selected disabled value="0">Choose frequency</option>

          <option value="1">Every hour</option>
          <% hours = [2, 3, 4, 6, 12] %>
          <% hours.each do |d| %>
              <option value="<%= d %>">Every <%= d %> hours</option>
          <% end %>
        </select>
      </div>


      <label>Minutes</label>

      <div class="form-inline">
        <input type="text" id="minutes_input" value="<%= dd["minutes"] %>">

        <select class="form-control input-sm" id="minutes">
          <option selected disabled value="0">Choose frequency</option>

          <option value="1">Every minute</option>
          <% minutes = [2, 4, 5, 10, 15, 20, 30] %>
          <% minutes.each do |d| %>
              <option value="<%= d %>">Every <%= d %> minutes</option>
          <% end %>
        </select>
      </div>

    </div>

  </div>
</div>

