-#rails_admin-1.0 ready
- if (partials = @model_config.try(:after_form_partials))
  - unless partials.is_a?(Enumerable)
    - partials = [partials]
  - partials.each do |partial|
    - if partial.is_a?(Hash)
      - partial.each do |key, locals|
        = render partial: key.to_s, locals: locals
    - else
      = render partial: partial.to_s
- unless @model_config.with(action: @action, object: @object, controller: @_controller).try(:discard_submit_buttons)
  .form-group.form-actions
    .col-sm-offset-2.col-sm-10
      %input{type: :hidden, name: 'return_to', value: (params[:return_to].presence || request.referer)}
      - if (save_buttons = @object.try(:ready_to_save?)) || save_buttons.nil?
        %button.btn.btn-primary{type: 'submit', name: '_save', :'data-disable-with' => t('admin.form.save')}
          %i.icon-white.icon-ok
          = t('admin.form.save')
      - else
        %input{type: :hidden, name: '_next'}
        %button.btn.btn-info{type: 'submit', name: '_save', :'data-disable-with' => t('admin.actions.new_wizard.next')}
          %i.icon-forward
          = t('admin.actions.new_wizard.next')
      %span.extra_buttons
        - if @object.try(:can_be_restarted?)
          %button.btn.btn-info{type: 'submit', name: '_restart', :'data-disable-with' => t('admin.actions.new_wizard.restart')}
            %i.icon-repeat
            = t('admin.actions.new_wizard.restart')
        - if (save_buttons || save_buttons.nil?)
          - if authorized?(:new, @abstract_model)
            %button.btn.btn-info{type: "submit", name: "_add_another", :'data-disable-with' => t('admin.form.save_and_add_another')}
              = t('admin.form.save_and_add_another')
          - if authorized?(:edit, @abstract_model)
            %button.btn.btn-info{type: "submit", name: "_add_edit", :'data-disable-with' => t('admin.form.save_and_edit')}
              = t("admin.form.save_and_edit")
        %button.btn{type: 'submit', name: '_continue', :'data-disable-with' => t('admin.form.cancel')}
          %i.icon-remove
          = t('admin.form.cancel')
