<% options = codemirror_options.to_json %>
<% flash.discard(:warning) %>

<ul class="algorithms nav nav-tabs tabs-left">
  <% algorithm_langs.each do |lang| %>
      <li class="<%= "active" if lang == algorithm_langs.first %>">
        <a data-toggle="tab" href="#code-<%= lang[:id] %>"><%= lang[:label] %></a>
      </li>
  <% end %>
</ul>

<div class="tab-content rest-api-codes">
  <% first = algorithm_langs.first %>
  <% algorithm_langs.each do |lang| %>
      <div id="code-<%= lang[:id] %>" class="tab-pane fade in <%= "active" if lang == first %>">
        <%= form_tag('#', remote: true) do %>
            <div class="row form-group">
              <label class="col-sm-12 control-label">File <%= lang[:dependencies_file] %>:</label>

              <div class="col-sm-12 controls">
                <input type="hidden" name="lang_id" value="<%= lang[:id] %>">
                <textarea name="dependencies" required="true" id="dependencies-<%= lang[:id] %>"
                          data-richtext="codemirror" data-options="<%= options %>" cols="48" rows="10">
                  <%= pull_dependencies(lang) %>
                </textarea>
              </div>
            </div>
            <div class="row form-group form-actions">
              <div class="col-sm-offset-2 col-sm-10" style="text-align: right;">
                <button class="btn btn-primary" data-disable-with="Pushing" name="_push" type="submit">
                  <i class="icon-white icon-ok"></i>Push
                </button>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
<% content_for :script do %>
    <script>
      $(document).ready(function () {
        // To solve problem with codemirror and nav-tabs.
        $('.algorithms.nav-tabs a').on('shown.bs.tab', function (e) {
          $($(e.target).attr('href')).find('.CodeMirror')[0].CodeMirror.refresh();
        });

        pleaseWaitDiv = $('<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-header"><h1>Processing...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div></div>');

      });
    </script>
<% end %>