%h4
  = t('admin.actions.cancel_all.are_you_sure', model_label_plural: @model_config.label_plural)
.p
  = "#{@total} "+ t('admin.actions.cancel_all.will_be_cancelled')

= form_tag cancel_all_path(params), method: :delete do
  .form-actions
    %button.btn.btn-danger{type: 'submit', name: 'delete', :'data-disable-with' => t('admin.form.confirmation')}
      %i.icon-white.icon-ok
      = t('admin.form.confirmation')
    %button.btn{type: 'submit', name: '_continue', :'data-disable-with' => t("admin.form.cancel")}
      %i.icon-remove
      = t('admin.form.cancel')
