- content_for :html_templates do
  %script{type:"text/html",id:"dashboard_trace"}
    %li{class: "{{action}}"}
      .title
        .label{class: "{{action}}"}
          ="{{action}}:"
        %span.trace-model
          %span.model
            ="{{model_label}} /"
            %a{class: "pjax trace_object", href: "{{target_show_url}}"}
              = '{{object_name}}'
      %a{href: '{{url}}', class: 'details-link pjax'}
        .details
          .author
            %img{ src: "{{picture}}", alt: '{{email}}', width: '20px', title: '{{email}}'}
          .changes
            %span
              = "{{message}}"
          .date
            .created{title: "{{created_at}}"}
              ="{{created_at}}"
- if @abstract_models
  - totals = monitor_totals
  .row.dashboard
    .col-sm-9.monitors
      -unless current_user.nil?
        -if @action.is_a?(RailsAdmin::Config::Actions::Dashboard) && params[:group].blank?
          .row
            =  render partial: 'rails_admin/main/dashboard/monitor', locals:{options: tenant_monitor_data}
        .row
          = render partial: 'rails_admin/main/dashboard/monitor', locals:{options: task_monitor_data(totals[:tasks])}
          = render partial: 'rails_admin/main/dashboard/monitor', locals:{options: auth_monitor_data(totals[:auths])}
          = render partial: 'rails_admin/main/dashboard/monitor', locals:{options: notif_monitor_data(totals[:notif])}
      .models{'data-model-count': 0}
        - secondary = ['Monitors', 'Configuration', 'Administration']
        - auxiliaries = dashboard_data.select{ |d|  secondary.include?(d[:label])}
        - primaries = dashboard_data.select{ |d|  !secondary.include?(d[:label])}
        - if primaries.length > 0
          .row
            %ul.nav.nav-tabs{role: "tablist"}
              - primaries.each_with_index do |d,index|
                %li{class: index==0 ? 'active': ''}
                  %a{href: "##{d[:label]}", role:"tab", data: {toggle: "tab"} }
                    %i{class: "fa #{d[:icon]}"}
                    =d[:label]
            .tab-content
              - primaries.each_with_index do |d,index|
                .tab-pane{class: "fade in #{index==0 ? 'active': ''}", id: d[:label] }
                  = render partial: 'rails_admin/main/dashboard/model_monitor', locals: {d: d, index: index}
        -if @action.is_a?(RailsAdmin::Config::Actions::Dashboard) && params[:group].blank?
          .row
            -home_groups = RailsAdmin::Config.dashboard_groups
            %ul.nav.nav-tabs{role: "tablist"}
              - home_groups.each_with_index do |d,index|
                %li{class: index==0 ? 'active': ''}
                  %a{href: "##{d[:label]}", role:"tab", data: {toggle: "tab"} }
                    %i{class: "fa #{d[:icon]}"}
                    =d[:label]
            .tab-content
              - home_groups.each_with_index do |d,index|
                - locals = d[:sublinks]
                .tab-pane{class: "fade in #{index==0 ? 'active': ''}", id: d[:label] }
                  - locals.each_with_index do |l,i|
                    = render partial: 'rails_admin/main/dashboard/model_monitor', locals: {a: l, index: i}
        - if auxiliaries.length > 0
          .row
            %ul.nav.nav-tabs{role: "tablist"}
              - auxiliaries.each_with_index do |d,index|
                %li{class: index==0 ? 'active': ''}
                  %a{href: "##{d[:label]}", role:"tab", data: {toggle: "tab"} }
                    %i{class: "fa #{d[:icon]}"}
                    =d[:label]
            .tab-content
              - auxiliaries.each_with_index do |d,index|
                .tab-pane{class: "fade in #{index==0 ? 'active': ''}", id: d[:label] }
                  = render partial: 'rails_admin/main/dashboard/model_monitor', locals: {d: d, index: index}
    .col-sm-3.traces.no-padding-left
      %ul.nav.nav-tabs
        - origins = Mongoid::Tracer::Trace.origins
        - origins.each_with_index do |o, index|
          %li{class: index==0 ? 'active': ''}
            %a{href: "##{o}", role:"tab", data: {toggle: "tab"} }
              %label{class: o}
                = t("admin.origin.#{o}")
      -if @action.is_a?(RailsAdmin::Config::Actions::Dashboard) && params[:group].blank?
        - models = 'all'
      -else
        - models= @dashboard_models || []
      .tab-content{data:{models: models, logged: "#{!current_user.nil?}"}}
        - origins.each_with_index do |o, index|
          .tab-pane{class: "fade in #{index==0 ? 'active': ''}", id: o }
            %ol{data:{page: 1, origin: o}}
        =link_to  "#", id: 'load_more_traces' do
          %i.fa.fa-history
          %span
            ="Load more Traces"