- if @abstract_models
  - totals = monitor_totals
  .row.dashboard
    .col-sm-9.monitors
      -unless current_user.nil?
        -if @action.is_a?(RailsAdmin::Config::Actions::Dashboard) && params[:group].blank?
          .row
            =  render partial: 'rails_admin/main/dashboard/monitor', locals:{options: tenant_monitor_data}
        .row
          = render partial: 'rails_admin/main/dashboard/monitor', locals:{options: task_monitor_data(totals[:tasks])}
          = render partial: 'rails_admin/main/dashboard/monitor', locals:{options: auth_monitor_data(totals[:auths])}
          = render partial: 'rails_admin/main/dashboard/monitor', locals:{options: notif_monitor_data(totals[:notif])}
      .models{'data-model-count': 0}
        - secondary = ['Monitors', 'Configuration', 'Administration']
        - auxiliaries = dashboard_data.select{ |d|  secondary.include?(d[:label])}
        - primaries = dashboard_data.select{ |d|  !secondary.include?(d[:label])}
        - if primaries.length > 0
          .row
            %ul.nav.nav-tabs{role: "tablist"}
              - primaries.each_with_index do |d,index|
                %li{class: index==0 ? 'active': ''}
                  %a{href: "##{d[:label]}", role:"tab", data: {toggle: "tab"} }
                    %i{class: "fa #{d[:icon]}"}
                    =d[:label]
            .tab-content
              - primaries.each_with_index do |d,index|
                .tab-pane{class: "fade in #{index==0 ? 'active': ''}", id: d[:label] }
                  = render partial: 'rails_admin/main/dashboard/model_monitor', locals: {d: d, index: index}
        - if auxiliaries.length > 0
          .row
            %ul.nav.nav-tabs{role: "tablist"}
              - auxiliaries.each_with_index do |d,index|
                %li{class: index==0 ? 'active': ''}
                  %a{href: "##{d[:label]}", role:"tab", data: {toggle: "tab"} }
                    %i{class: "fa #{d[:icon]}"}
                    =d[:label]
            .tab-content
              - auxiliaries.each_with_index do |d,index|
                .tab-pane{class: "fade in #{index==0 ? 'active': ''}", id: d[:label] }
                  = render partial: 'rails_admin/main/dashboard/model_monitor', locals: {d: d, index: index}
    .col-sm-3.traces.no-padding-left
      %ul.nav.nav-tabs
        %li.active
          = link_to '/trace' do
            %i.fa.fa-code-fork
            = 'Traces'
      - max_traces_count = 5
      - trace_abstract_model = RailsAdmin.config(Mongoid::Tracer::Trace).abstract_model
      -if @action.is_a?(RailsAdmin::Config::Actions::Dashboard) && params[:group].blank?
        - traces = Mongoid::Tracer::Trace.limit(max_traces_count).order(created_at: :desc)
      -else
        - models= @dashboard_models || []
        - traces = Mongoid::Tracer::Trace.where(:target_model_name.in => models).limit(max_traces_count).order(created_at: :desc)
      %ol
        - if traces.count > 0
          - traces.each do |t|
            = render partial: 'rails_admin/main/dashboard/trace', locals: {t: t}
          %li{class: "see_more"}
            .title
              - url = url_for(action: :index, controller: 'rails_admin/main', model_name: trace_abstract_model)
              .label{class: "see_more"}
                =link_to  url, class: 'pjax' do
                  ="More"
        -else
          %li{class: "no-traces"}
          .title
            - url = url_for(action: :index, controller: 'rails_admin/main', model_name: trace_abstract_model)
            .label{class: "no-traces"}
              =link_to  url, class: 'pjax' do
                ="No traces registered yet"

