%table.table.table-condensed.table-striped
  %thead
    %tr
      %th.shrink.model-name= t 'admin.actions.disk_usage.model'
      %th.records= t 'admin.actions.disk_usage.used_memory'
      %th.last.shrink
  %tbody
    - data_type_abstract_model = RailsAdmin::AbstractModel.new(Setup::Model)
    - Setup::Model.all.each do |data_type|
      - index_path = rails_admin.show_path(model_name: Setup::Model.to_s.underscore.gsub('/', '~'), id: data_type.id.to_s)
      - row_class = "#{cycle("odd", "even")}#{" link" if index_path}"
      %tr{class: row_class}
        - active = data_type.loaded?
        %td
          %span.show= link_to capitalize_first_letter(data_type.title), index_path, class: 'pjax'
        %td
          - count = @count[data_type.id.to_s]
          - percent = count > 0 ? (@max <= 1 ? count : ((Math.log(count+1) * 100.0) / Math.log(@max+1)).to_i) : -1
          .progress{style: "margin-bottom:0px", class: "progress-#{get_indicator(percent)} #{active && 'active progress-striped'}"  }
            .bar.animate-width-to{:'data-animate-length' => ([1.0, percent].max.to_i * 20), :'data-animate-width-to' => "#{[2.0, percent].max.to_i}%", style: "width:2%"}
              = count
        %td.last.links
          %ul.inline= menu_for :member, data_type_abstract_model, data_type, true
