- bulk_alert ||= false
- if @warning_message
  %h4.text-danger= @warning_message.to_s
= rails_admin_form_for @form_object, url: url_for(action: @action.action_name, params: {object_ids: @bulk_ids, contextual_params: params[:contextual_params]}), html: { multipart: true, class: 'form-horizontal denser', data: { title: @page_name }} do |form|
  - if bulk_alert
    - @bulk_ids ||= @object && [@object.id]
    - to_action =  @bulk_ids ? @abstract_model.model.where(:id.in => @bulk_ids) : @abstract_model.all
    - if (count = to_action.count) && count > 0
      - max = 5
      %fieldset
        %legend{style: ''}
          %i.icon-chevron-right
          = "#{t('admin.actions.action_will.just')} #{wording_for(:menu, @action)} #{count} #{@abstract_model.model.data_type.custom_title}"
        %models.control-group{style: 'display: none'}
          %ul
            - label_method = @abstract_model.config.object_label_method
            - to_action.limit(max).each do |record|
              %li
                - label = record.send(label_method)
                - path = rails_admin.show_path(model_name: record.class.to_s.underscore.gsub('/', '~'), id: record.id)
                = link_to(label, path, class: 'pjax')
            - if count > max
              %li
                %label= t('admin.misc.and_more', count: count - max)
  = form.generate action: :create

  .form-group.form-actions
    .col-sm-offset-2.col-sm-10
      - if (save_buttons = @form_object.try(:ready_to_save?)) || save_buttons.nil?
        %button.btn.btn-primary{type: 'submit', name: '_save', (@action.class.try(:disable_buttons?) ? :'data-disable-with' : nil) => wording_for(:menu, @action)}
          %i{class: @action.try(:link_icon)}
          = wording_for(:menu, @action)
      - else
        %button.btn.btn-info{type: 'submit', name: '_next', :'data-disable-with' => t('admin.actions.new_wizard.next')}
          %i.icon-forward
          = t('admin.actions.new_wizard.next')
      %span.extra_buttons
        - if @form_object.try(:can_be_restarted?)
          %button.btn.btn-info{type: 'submit', name: '_restart', :'data-disable-with' => t('admin.actions.new_wizard.restart')}
            %i.icon-repeat
            = t('admin.actions.new_wizard.restart')
        %button.btn{type: 'submit', name: '_continue', (@action.class.try(:disable_buttons?) ? :'data-disable-with' : nil) => t('admin.form.cancel')}
          %i.icon-remove
          = t('admin.form.cancel')
