= rails_admin_form_for @object, url: new_translator_path(model_name: @abstract_model.to_param), as: @abstract_model.param_key, html: { multipart: true, class: "form-horizontal denser", data: { title: @page_name } } do |form|
  = form.generate action: :create, nested_in: true

  .form-actions
    - if @object.ready_to_save?
      %button.btn.btn-primary{type: 'submit', name: '_save', :'data-disable-with' => t('admin.actions.new_translator.submit')}
        %i.icon-ok
        = t('admin.actions.new_translator.submit')
    - else
      %button.btn.btn-info{type: 'submit', name: '_next', :'data-disable-with' => t('admin.actions.new_translator.next')}
        %i.icon-forward
        = t('admin.actions.new_translator.next')
    %span.extra_buttons
      - if @object.can_be_restarted?
        %button.btn.btn-info{type: 'submit', name: '_restart', :'data-disable-with' => t('admin.actions.new_translator.restart')}
          %i.icon-repeat
          = t('admin.actions.new_translator.restart')
      %button.btn{type: 'submit', name: '_continue', :'data-disable-with' => t('admin.form.cancel')}
        %i.icon-remove
        = t('admin.form.cancel')