.well.col-xs-12.api-details
  - object = @object['versions'][@object['preferred']]
  - object_info = object['info'] || {}
  - x_logo = object_info['x-logo'] || {}
  - x_origin =  object_info['x-origin'].first
  - external_doc = object['externalDocs']
  - contact = object_info['contact']
  - license = object_info['license']
  - terms =object_info['termsOfService']
  - date_format = "%d/%m/%Y"
  - added_date = DateTime.parse(object['added']).strftime(date_format)
  - updated_date = DateTime.parse(object['updated']).strftime(date_format)
  .col-sm-3.no-padding-left
    =image_tag 'missing.png' || x_logo['url'], class: 'logo img-responsive'
    -if !external_doc.nil? || !contact.nil? || !license.nil? ||!terms.nil?
      .api-info.text-center
        -if !external_doc.nil? || !x_origin.nil?
          %i.fa.fa-book
          -unless external_doc.nil?
            .external-doc
              =link_to "#{external_doc['url']}" , target: '_blank' do
                %span= external_doc['description'] || "#{'Documentation'}"
          -unless x_origin.nil?
            .external-doc
              - unless (x_origin_url = x_origin['url']).nil?
                =link_to "#{x_origin_url}", target: '_blank' do
                  %span= x_origin_url
                - unless (x_origin_format = x_origin['format']).nil?
                  .format= x_origin_format
                - unless (x_origin_version = x_origin['version']).nil?
                  .version= x_origin_version
              - unless (x_origin_converter = x_origin['converter']).nil?
                =link_to "#{(x_origin_converter_url = x_origin_converter['url'])}" , target: '_blank' do
                  %span= x_origin_converter_url
                .version= x_origin_converter['version']
        -unless (swagger_url = object['swaggerUrl']).nil?
          =link_to "#{swagger_url}" , class: 'btn btn-link', target: '_blank' do
            %i.fa.fa-external-link
            ="#{'swagger.json'}"
        -unless (swagger_yaml = object['swaggerYamlUrl']).nil?
          =link_to "#{swagger_yaml}" , class: 'btn btn-link', target: '_blank' do
            %i.fa.fa-external-link
            ="#{'swagger.yaml'}"
        -unless contact.nil?
          .contact
            -unless (name = contact['name']).nil?
              .name
                %i.fa.fa-user
                %span
                  = name
            -unless (email = contact['email']).nil?
              .email
                =mail_to "#{email}" do
                  %i.fa.fa-envelope-o
                  %span=  "#{email}"
            -unless (url = contact['url']).nil?
              .url
                =link_to "#{url}" do
                  %i.fa.fa-info-circle
                  %span=  "#{"Website"}"
        -unless license.nil?
          .license
            =link_to "#{license['url']}" , target: '_blank' do
              %span= "#{"License"}: "
              %span= "#{license['name']}"
        -unless terms.nil?
          .term-of-service
            =link_to "#{terms}" ,target: '_blank' do
              %i.fa.fa-gavel
              %span= "#{t('admin.misc.terms')}"
  .col-sm-9.no-padding-right
    =link_to open_api_directory_path, class: 'btn btn-default pjax pull-right' do
      %i.fa.fa-arrow-left
      = t('admin.actions.remote_shared_collection.go_back')
    %h3
      = object_info['title'].presence || @object['id'].to_title
      %span= object_info['x-release'].presence || @object['preferred']
    %h5
      %span
        ="#{'Added'}: "
      =added_date
    %h5
      %span
        ="#{'Updated at'}: "
      =updated_date
    .btn-toolbar.swagger-toolbar
      =link_to open_api_directory_path(id: @object['id'], fetch: true), class: 'btn btn-primary pjax' do
        %i.fa.fa-download
        ="#{'Fetch'}"
    - if (categories = @object['categories']) && categories.count > 0
      .btn-toolbar.categories-toolbar
        %i.fa.fa-tags
        - categories.each do |cat|
          - title = cat['title'] || cat['id']
          - unless title.nil?
            -category_filter_url = open_api_directory_path(query: cat['id'], by_category: true)
            =link_to "#{category_filter_url}" , class: 'btn btn-default btn-xs', target: '_blank', title: "#{cat['description'] || ''}" do
              ="#{title}"
    %p= object_info['description'].to_s.html_safe