#grid
  = form_tag(remote_shared_collection_path(params.except(*%w[page f query])), method: :get, class: 'pjax-form form-inline') do
    .well
      .input-group
        %input.form-control.input-small{name: 'query', type: 'search', value: @query, placeholder: t('admin.misc.filter')}
        %span.input-group-btn
          %button.btn.btn-primary{type: 'submit', :'data-disable-with' => "<i class='icon-white icon-refresh'></i> ".html_safe + t('admin.misc.refresh')}
            %i.icon-white.icon-refresh
            = t('admin.misc.refresh')
  #grid-wrapper
    - @objects.each do |object|
      .col-xs-6.col-sm-4.col-md-3
        %div{class: 'panel panel-shared text-center'}
          .panel-heading
            =link_to remote_shared_collection_path(id: object['id'], no_details: true), class: 'pjax' do
              =object['title'].presence || object['name'].titleize
          .panel-body
            .panel-body-logo.text-center{style: "background-color:##{object['logo_background'] || 'inherit'}"}
              =link_to remote_shared_collection_path(id: object['id'], no_details: true), class: 'pjax' do
                - (image = object['image']).is_a?(Hash) && (image = image['url'])
                =image_tag image || 'missing.png', class: 'logo'
            .panel-body-description.line-clamp.line-clamp-3
              %p #{object['summary'].html_safe if object['summary'].present?}
          .panel-footer
            .footer-description
              %ul
                - if (categories = object['categories']) && categories.count > 0
                  - categories.each do |cat|
                    - next unless (title = cat['title'])
                    %span{ title: cat['description'] || t('admin.misc.no_description')}
                      = title
                - else
                  %span= t('admin.actions.dashboard.collections.no_categories')
              .versions
                .col-xs-4.col-xs-offset-4
                  =link_to remote_shared_collection_path(id: object['id'], no_details: true), class: 'pjax' do
                    %i.fa.fa-arrow-down
                  - if object['pull_count'].to_i > 0
                    %span.pull-count
                      =number_to_human object['pull_count'], units: {thousand: 'K', million: 'M', billion: 'G', trillion: 'T'}
                .col-xs-4.version
                  %span
                    = "v #{object['shared_version']}"
    - if @response
      .clearfix
      .row
        - object_array = Kaminari.paginate_array(@objects, total_count: count = @response['count']).page(@response['current_page']).per(@limit)
        .col-md-6= paginate(object_array, theme: 'ra-twitter-bootstrap', remote: true)
      .clearfix.total-count= "#{@response['count']} #{@model_config.pluralize(@objects.size).downcase}"