.well.col-xs-12
  - (image = @response['image']).is_a?(Hash) && (image = image['url'])
  .col-sm-3.no-padding-left
    = image_tag image || 'missing.png', class: 'logo img-responsive'
  .col-sm-9
    .col-sm-6
      %h3= @object.title || @object.name
      .btn-toolbar.text-center
        =link_to remote_shared_collection_path(id: @object.id, pull: true), class: 'btn btn-primary' do
          %i.fa.fa-arrow-down
          - if @object.pull_count > 0
            - pull_count = number_to_human @object.pull_count, units: {thousand: 'K', million: 'M', billion: 'G', trillion: 'T'}
            - pull_count = "(#{pull_count})"
          - else
            - pull_count = ''
          = "#{t('admin.actions.pull.submit')} #{pull_count}".strip
        - if params[:no_details].to_b
          =link_to remote_shared_collection_path(id: @object.id), class: 'btn btn-info pjax' do
            %i.fa.fa-info-circle
            = t('admin.actions.remote_shared_collection.details')
        =link_to remote_shared_collection_path, class: 'btn btn-default pjax' do
          %i.fa.fa-arrow-left
          = t('admin.actions.remote_shared_collection.go_back')
    .col-sm-6
      %h5=@object.summary.html_safe
- unless params[:no_details].to_b
  - @model_config.show.with(object: @object, view: self, controller: self.controller).visible_groups.each do |fieldset|
    - unless (fields = fieldset.with(object: @object, view: self, controller: self.controller).visible_fields).empty?
      - if !(values = fields.map{ |f| f.formatted_value.presence }).compact.empty? || !RailsAdmin::config.compact_show_view
        .fieldset
          %h4
            = fieldset.label
          - if fieldset.help
            %p= fieldset.help
          %dl
            - fields.each_with_index do |field, index|
              - unless values[index].nil? && RailsAdmin::config.compact_show_view
                %dt
                  %span.label.label-info{class: "#{field.type_css_class} #{field.css_class}"}
                    = field.label
                %dd.well
                  = field.pretty_value
