<ul class="nav nav-tabs tabs-left">
  <% api_langs.each do |lang| %>
      <li class="<%= "active" if lang[:id] == 'curl' %>">
        <a data-toggle="tab" href="#codes-<%= lang[:id] %>"><%= lang[:label] %></a>
      </li>
  <% end %>
</ul>

<div class="tab-content rest-api-codes">
  <% api_langs.each do |lang| %>
      <div id="codes-<%= lang[:id] %>" class="tab-pane fade in <%= "active" if lang[:id] == 'curl' %>">
        <%= render :partial => 'rails_admin/rest_api_sdk/codes', :locals => { lang: lang } %>
      </div>
  <% end %>
</div>
<% content_for :script do %>
    <script type="text/javascript">
      $(document).ready(function () {
        // Connected copy to clipboard actions.
        $('.copy-to-clipboard').each(function (idx, el) {
          new Clipboard(el);
        });

        // Async highlight code blocks.
        var worker = new Worker('/highlight-worker.js');

        worker.onmessage = function (event) {
          $('.rest-api-codes pre.code').each(function (index, block) {
            hljs.highlightBlock(block);
          });
        };
        worker.postMessage('start');
      });
    </script>
<% end %>