- @flow_options ||= []

= form_tag send_to_flow_path(params.merge(bulk_ids: @bulk_ids)), method: 'post', class: 'form-horizontal denser' do

  %label.control-label{for: 'flow_id'}= t('admin.actions.send_to_flow.selector_label')
  .controls
    .a
      = select_tag 'flow_id', options_for_select(@flow_options), style: 'float:left'
      .b{style: 'float:left; padding-left:20px'}
        %input{type: :hidden, name: 'send_data', value: true}
        %button.btn.btn-primary{type: 'submit'}
          %i.icon-white.icon-share-alt
          = t('admin.actions.send_to_flow.action_name')
        %button.btn{type: 'submit', name: '_continue', style: 'margin-left:10px'}
          %i.icon-remove
          = t('admin.form.cancel')
      %p.help-block= t('admin.actions.send_to_flow.send_to_flow_help')
