- flows = []
- model = @abstract_model.model_name.constantize rescue nil
- if model && model.respond_to?(:data_type_id)
  - data_type = Setup::DataType.where(:id => model.data_type_id).first
  - flows = Setup::Flow.where(:data_type => data_type)
- flow_options = flows.collect { |f| [f.name, f.id] }

= form_tag send_to_flow_path(params.merge(all: true)), method: 'post', class: 'form-horizontal denser' do

  %label.control-label{for: 'flow_id'}= t('admin.actions.send_to_flow.menu')
  .controls
    .a
      = select_tag 'flow_id', options_for_select(flow_options), style: 'float:left'
      .b{style: 'float:left; padding-left:20px'}
        %input{type: :hidden, name: 'send_data', value: true}
        %button.btn.btn-primary{type: 'submit'}
          %i.icon-white.icon-share-alt
          = t('admin.actions.send_to_flow.action_name')
        %button.btn{type: 'submit', name: '_continue', style: 'margin-left:10px'}
          %i.icon-remove
          = t('admin.form.cancel')
      %p.help-block= t('admin.actions.send_to_flow.send_to_flow_help')
