= rails_admin_form_for @shared_collection, url: share_collection_path, html: { multipart: true, class: "form-horizontal denser"} do |form|
  = form.generate action: :create

  .form-actions
    - if @shared_collection.instance_variable_get(:@_selecting_connections)
      %button.btn.btn-info{type: 'submit', name: '_next', :'data-disable-with' => t('admin.actions.new_wizard.next')}
        %i.icon-forward
        = t('admin.actions.new_wizard.next')
    -else
      %button.btn.btn-primary{type: 'submit', name: '_share', :'data-disable-with' => t('admin.actions.share_collection.submit')}
        %i{class: @action.try(:link_icon)}
        = t('admin.actions.share_collection.submit')
    - if params[:_next] || params[:_share]
      %button.btn.btn-info{type: 'submit', name: '_restart', :'data-disable-with' => t('admin.actions.new_wizard.restart')}
        %i.icon-repeat
        = t('admin.actions.new_wizard.restart')
    %span.extra_buttons
      %button.btn{type: 'submit', name: '_continue', :'data-disable-with' => t('admin.form.cancel')}
        %i.icon-remove
        = t('admin.form.cancel')
