%h4
  = t('admin.actions.shutdown_model.the_following', model_name: @object.title)

%ul
  - @data_types.each do |data_type|
    - next if data_type == @object
    %li
      = link_to(data_type.title, rails_admin.show_path(model_name: Setup::DataType.to_s.underscore, id: data_type.id), class: 'pjax')

%h4
  = t('admin.actions.shutdown_model.are_you_sure')

%form
  .form-actions
    %button.btn.btn-danger{type: 'submit', name: 'shutdown', :'data-disable-with' => t('admin.form.confirmation')}
      %i.icon-white.icon-ok
      = t('admin.form.confirmation')
    %button.btn{type: 'submit', name: '_continue', :'data-disable-with' => t("admin.form.cancel")}
      %i.icon-remove
      = t('admin.form.cancel')