= form_tag test_transformation_path, method: 'post', class: 'form-horizontal denser', style: 'height:100%' do

  .a{style: 'width:100%'}
    .sample{style: 'width:45%;float:left'}
      %label{style: 'float:left'}= t('admin.actions.test_transformation.menu.sample_data')
      %textarea{id: 'sample_data', style: 'width:100%', rows: 15}
        = @sample_data
    .result{style: 'width:45%;float:right;padding-right:15px'}
      %label{style: 'float:left'}= t('admin.actions.test_transformation.menu.result')
      %textarea{name: 'sample_data', style: 'width:100%', rows: 15}
        = @result
  .controls
    -#.a
    -#  = select_tag 'flow_id', options_for_select(flow_options), style: 'float:left'
    -#  .b{style: 'float:left; padding-left:20px'}
    -#    %input{type: :hidden, name: 'send_data', value: true}
    -#    %button.btn.btn-primary{type: "submit"}
    -#      %i.icon-white.icon-share-alt
    -#      = t("admin.actions.send_to_flow.action")
    -#    %button.btn{type: "submit", name: "_continue", style: "margin-left:10px"}
    -#      %i.icon-remove
    -#      = t("admin.form.cancel")
    -#  %p.help-block= t('admin.actions.send_to_flow.send_to_flow_help')
