- changes = @trace.changes_set
-diff = @action.build_diff(@abstract_model, changes)
.trace
  .row
    .col-xs-12

    .col-xs-12
      .trace-info
        .trace-header
          .action.pull-left
            = @action.diffstat(diff[:additions], diff[:deletions], true).html_safe
            - if (author = User.where(id: @trace.author_id).first)
              = image_tag(author.picture_url, alt: '', width: '20px')
              %label
                = author.email
            %span
              = @trace.action
          .date.pull-right
            %span= @trace.created_at
        .trace-desc
          %span
            = 'No message'
          .siblings.pull-right
            %nav
              %ul.pager
                - if (previous = @trace.previous)
                - url = url_for(@action.url_options(action: @action.action_name, controller: 'rails_admin/main', model: @abstract_model.to_param, id: params[:id], trace_id: previous.id))
                  %li
                    =link_to  url, class: 'btn btn-default btn-sm pjax' do
                      %i.fa.fa-angle-left
                      ='Previous'
                - if (next_trace = @trace.next)
                  %li
                    - url = url_for(@action.url_options(action: @action.action_name, controller: 'rails_admin/main', model: @abstract_model.to_param, id: params[:id], trace_id: next_trace.id))
                    =link_to  url, class: 'btn btn-default btn-sm pjax' do
                      ='Next'
                      %i.fa.fa-angle-right
  .changes
    - if (changes).present?
      = diff[:html]
    - else
      .alert.alert-warning= 'No changes'
