- if @warning_message
  %h4.text-danger= @warning_message.to_s
- limit = 10
%form{method: 'delete', class: 'form-horizontal denser', action: url_for(action: @action.action_name)}
  - if @collection.present?
    - unless @warning_message
      %h4.text-danger= t('admin.actions.trash.trash_warning')
    - Setup::Collection.reflect_on_all_associations(:has_and_belongs_to_many).each do |relation|
      - if (records = @collection.send(relation.name)).present?
        .control-group
          %label.col-sm-2.control-label
            = relation.name.to_s.titleize
          .col-sm-10.controls
            - am = RailsAdmin::Config.model(relation.klass).abstract_model
            - a = []
            - count = 0
            - records.each { |record| break if a.length > limit; a << link_to(record.try(:custom_title) || record.name, url_for(action: action(:show, am, record).action_name, model_name: record.class.to_s, id: record.id), class: 'pjax') }
            - a << "#{t('admin.actions.pull.another')} #{records.count - a.length}" if a.length < records.count
            = a.to_sentence.html_safe
            %p.help-block
              = "#{records.count} #{relation.name.to_s.titleize.downcase.pluralize}"
  = render partial: 'confirmation_controls', locals: {confirmation_name: 'delete'}
