<h1 class="page-header">Dashboard</h1>

<h2 class="sub-header">Users</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Show', '#' %></td>
          <td><%= link_to 'Edit', '#' %></td>
          <td><%= link_to 'Destroy', '#' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>
<h2 class="sub-header">Orders</h2>

<div class="table-responsive" >
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody id="us">
    <% @orders.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.placed_on %></td>
          <td><%= link_to 'Show', '#' %></td>
          <td><%= link_to 'Edit', '#' %></td>
          <td><%= link_to 'Destroy', '#' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<hr>
<p>Pie Chart</p>
<%= pie_chart({'Football' => 10, 'Basketball' => 5}) %>

<hr>
<p>Column Chart</p>
<%= column_chart ({'Football' => 10, 'Basketball' => 5}) %>

<hr>
<p>Bar Chart</p>
<%= bar_chart ({'Football' => 10, 'Basketball' => 5}) %>

<hr>
<p>Line Chart</p>
<%= line_chart ([{:name=>"Go to concert",:data=>{"2013-02-10 00:00:00 -0800"=>0,"2013-02-17 00:00:00 -0800"=>0,"2013-02-24 00:00:00 -0800"=>0,"2013-03-03 00:00:00 -0800"=>0,"2013-03-10 00:00:00 -0800"=>2,"2013-03-17 00:00:00 -0700"=>1,"2013-03-24 00:00:00 -0700"=>0,"2013-03-31 00:00:00 -0700"=>0}}]) %>



<hr>
<p>Area Chart</p>
<%= area_chart ({'2013-07-27 07:00:00 UTC' =>2, '2013-07-27 07:01:00 UTC' =>5, '2013-07-27 07:02:00 UTC' =>3}) %>

<br>
<br>
