.user-auth.panel.panel-default.text-center
  .panel-heading
    = link_to root_path do
      %span.cenit-logo
        =image_tag 'logo_cenitsaas_web.png'
      %span.cenit-hub{style: 'color: black;'}= 'Cenit IO'
  .panel-body
    .form-top
      = t 'devise.invitations.edit.header'
    = form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f|
      = devise_error_messages!
      = f.hidden_field :invitation_token
      - if f.object.class.require_password_on_accepting
        .field.text-justify
          = f.label :password, "Password"
          = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'
        .field.text-justify
          = f.label :password_confirmation, "Confirm new password"
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
        .actions
          %button.btn.btn-primary.pull-right{:type => "submit"}
            = t("devise.invitations.edit.submit_button")
