<%# add navigation links to this file %>
<li><%= link_to 'Company Setting', "#" %></li>
<li><%= link_to 'User Profile', "#" %></li>
<li><%= link_to 'Data', "/data" %></li>
<li class="divider"></li>
<li><%= link_to 'Contact Us', "#" %></li>
<li><%= link_to 'About Us', "/data" %></li>