<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cenit" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cenit" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/messages'%>

    <%= render 'layouts/navigation' %>

    <div class="container-fluid">
      <div class="row">
	<br/>
        <% puts "******************** #{params[:controller]}"%>
	<% if params[:controller] =~ /^dashboard/ %>  
          <div class="col-sm-3 col-md-2 sidebar">
             <br/><br/>
            <%= render 'layouts/sidebar_links' %>
          </div>
        <% end %>
        <div class="col-sm-9 col-md-10 main">
          <br/>
          <%= yield %>
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
